<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: fragment-header ('마을 관리자 목록 페이지')}"></head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Sidebar fragment -->
        <div th:replace="~{fragment/sidebar :: fragment-sidebar('sidebar_admin', '')}"></div>
        <!-- /Sidebar -->
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar(검색창) -->
            <div th:replace="~{fragment/navbar :: fragment-navbar}"></div>
            <!-- /Navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- 마을 Card -->
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2">마을 관리자 목록</h2>
                                        <button class="btn bg-transparent pt-0 pb-0" style="float: right"
                                                th:onclick="|location.href='/'|">
                                            <i class='bx bxs-left-arrow-circle bx-md'></i>
                                        </button>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-responsive table-hover" id="adminTable">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>이름</th>
                                                <th>전화번호</th>
                                                <th>관리 마을</th>
                                                <th style="display: none">관리 마을 번호</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="dto : ${dtoList}"
                                                th:if="${dto.admin.type.toString() == 'ADMIN'}">
                                                <td th:text="${dto.admin.id}"></td>
                                                <td th:text="${dto.admin.name}"></td>
                                                <td th:text="${dto.admin.tel}"></td>
                                                <td th:text="${dto.admin.atList}"></td>
                                                <td style="display: none" th:text="${dto.adminTownIdList}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->
                    <!-- Modal -->
                    <div class="modal fade" id="adminModal" tabindex="-1"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCenterTitle">관리자 정보 수정</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form action="" method="post" id="modalForm">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="form-group mb-3">
                                                    <label for="name">이름</label>
                                                    <input type="text" id="name" name="name" class="form-control" readonly>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="tel">전화번호</label>
                                                    <input type="text" id="tel" name="tel" class="form-control" readonly>
                                                </div>
                                                <p>관리 마을</p>
                                                <div th:each="town : ${townList}">
                                                    <input type="checkbox" th:id="|town_${town.id}|" name="town"
                                                           th:value="${town.id}">
                                                    <label th:for="|town_${town.id}|" th:text="*{town.name}">이름</label>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" name="id" value="" id="adminId"/>
                                        <button id="deleteBtn" class="btn btn-danger" type="button">삭제</button>
                                        <button id="updateBtn" class="btn btn-success" type="button">수정</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /Modal -->
                </div>
                <!-- / Content -->
                <!-- footer -->
                <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
                <!-- / footer -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        var table = $("#adminTable").DataTable();

        $("#adminTable tbody").on("click", "tr", function () {
            var data = table.row(this).data();
            console.log("click: " + data);
            $("#adminModal").modal("show");

            $("#adminId").val(data[0]);
            $("input[id='name']").val(data[1]);
            $("input[id='tel']").val(data[2]);

            var towns = data[4].replace('[', '').replace(']', '').split(', ');
            towns.forEach(town => {
                console.log(town);
                $("input:checkbox[id='town_" + town + "']").attr("checked", true);
            });
        });

        $("#adminModal").on("hidden.bs.modal", function () {
            console.log("모달 창 종료(form reset)")
            $("input[type=checkbox]").attr("checked", false);
        })

        $("#deleteBtn").on("click", function () {
            if (confirm("관리자를 삭제하시겠습니까?")) {
                $.ajax({
                    method:"DELETE",
                    url:"/admin/" + $("#adminId").val(),
                    dataType:"text",
                    success: function(result){
                        alert("성공적으로 관리자를 삭제했습니다");
                        window.location.href="/admin";
                    },
                    error: function(result){
                        alert("실패!");
                    }
                });
            }
        });

        $("#updateBtn").on("click", function () {
            if (confirm("정보를 수정하시겠습니까?")) {
                var data = $("#modalForm").serialize();
                $.ajax({
                    method:"PUT",
                    url:"/admin/" + $("#adminId").val(),
                    data:data,
                    dataType:"text",
                    success: function(result){
                        alert(result);
                        window.location.href="/admin";
                    },
                    error: function(result){
                        alert("실패!");
                    }
                });
            }
        });
    });
</script>
<div th:replace="~{fragment/header :: fragment-bottom-script}"></div>
</body>
</html>
