<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <th:block th:insert="~{fragment/header :: fragment-header ('사용자 정보 수정')}"></th:block>
</head>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Sidebar fragment -->
        <aside th:replace="~{fragment/sidebar :: fragment-sidebar('sidebar_edit', '')}"></aside>
        <!-- /Sidebar -->

        <!-- Layout container -->
        <section class="layout-page">

            <!-- Navbar -->
            <nav th:replace="~{fragment/navbar :: fragment-navbar}"></nav>
            <!-- /Navbar -->

            <!-- Content wrapper -->
            <article class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2">사용자 정보 수정</h2>
                                        <button class="btn bg-transparent pt-0 pb-0" style="float: right"
                                                th:onclick="|location.href='/'|">
                                            <i class='bx bxs-left-arrow-circle bx-md'></i>
                                        </button>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" action="" id="formObj">
                                            <div class="form-group mb-3">
                                                <label for="name">이름</label>
                                                <input type="text" id="name" name="name" th:value="${admin.name}"
                                                       class="form-control" placeholder="이름을 입력하세요">
                                                <div class="row">
                                                    <p class="field-error text-danger text-end m-0"
                                                       id="name-field-error"></p>
                                                </div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="tel">전화번호</label>
                                                <input type="tel" id="tel" name="tel" th:value="${admin.tel}"
                                                       maxlength="13" oninput="autoHyphen(this)"
                                                       class="form-control" placeholder="전화번호를 입력하세요">
                                                <div class="row">
                                                    <p class="field-error text-danger text-end m-0"
                                                       id="tel-field-error"></p>
                                                </div>
                                            </div>
                                            <div class="form-group mb-3" sec:authorize="hasRole('SUPER')">
                                                <p>관리 마을</p>
                                                <div th:each="town : ${townList}">
                                                    <input type="checkbox" th:id="|town_${town.id}|" name="town"
                                                           th:value="${town.id}">
                                                    <label th:for="|town_${town.id}|" th:text="*{town.name}">이름</label>
                                                </div>
                                            </div>
                                            <hr>
                                            <button type="button" class="btn btn-success" id="modifyBtn">수정</button>
                                            <button id="withdrawalBtn" class="btn btn-danger" type="button">회원 탈퇴</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->
            </article>
            <!-- Content wrapper -->

            <!-- footer -->
            <footer>
                <th:block th:insert="~{fragment/footer :: fragment-footer}"></th:block>
                <script type="text/javascript" th:inline="javascript">
                    $(document).ready(function () {
                        var towns = [[${managedTownIdList}]];
                        towns.forEach(town => {
                            $("input:checkbox[id='town_" + town + "']").attr("checked", true);
                        });

                        $("#withdrawalBtn").on("click", function () {
                            if (confirm("정말로 회원탈퇴 하시겠습니까..?")) {
                                if (confirm("정말요....???")) {
                                    if (confirm("진짜요.........???")) {
                                        if (confirm("돌이킬 수 없습니다...........?????")) {
                                            $.ajax({
                                                method: "DELETE",
                                                url: "/api/admin/" + [[${admin.id}]],
                                                dataType: "text",
                                                success: function (result) {
                                                    alert("성공적으로 탈퇴를 완료했습니다");
                                                    window.location.href = "/logout";
                                                },
                                                error: function (result) {
                                                    alert("실패!");
                                                }
                                            });
                                        } else {
                                            alert("휴!");
                                            return false;
                                        }
                                    } else {
                                        alert("휴!");
                                        return false;
                                    }
                                } else {
                                    alert("휴!");
                                    return false;
                                }
                            } else return false;
                        });

                        $("#modifyBtn").on("click", function () {
                            if (confirm("정보를 수정하시겠습니까?")) {
                                var selectedTown = [];
                                $("input[type=checkbox][name=town]:checked").each(function() {
                                    selectedTown.push($(this).val());
                                })
                                var adminModifyData = {
                                    id: [[${admin.id}]],
                                    name: $("#name").val(),
                                    tel: $("#tel").val(),
                                    townIdList: selectedTown
                                }
                                $.ajax({
                                    method: "PATCH",
                                    url: "/api/admin/" + [[${admin.id}]],
                                    data: JSON.stringify(adminModifyData),
                                    dataType: "JSON",
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (result) {
                                        alert(result.message);
                                        window.location.reload(); // 현재 페이지 새로고침
                                    },
                                    error: function (response) {
                                        markingErrorField(response);
                                    }
                                });
                            }
                        });
                    });
                </script>
                <script src="/resources/custom/customFormScript.js"></script>
            </footer>
            <!-- / footer -->

        </section>
        <!-- / Layout page -->
    </div>
</div>
</body>
</html>
