<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragment/header :: fragment-header ('방송 목록 페이지')}"></th:block>
</head>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Sidebar -->
        <aside th:replace="~{fragment/sidebar :: fragment-sidebar('sidebar_announce_list', |sidebar_announce_list_${category}|)}"></aside>
        <!-- /Sidebar -->

        <!-- Layout container -->
        <section class="layout-page">

            <!-- Navbar -->
            <nav th:replace="~{fragment/navbar :: fragment-navbar}"></nav>
            <!-- /Navbar -->

            <!-- Content wrapper -->
            <article class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- 마을 Card -->
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2"
                                            th:if="${category} != 'normal' and ${category} != 'disaster'">전체 방송 목록
                                            조회</h2>
                                        <h2 class="d-inline ms-2" th:if="${category} == 'normal'">마을 방송 목록 조회</h2>
                                        <h2 class="d-inline ms-2" th:if="${category} == 'disaster'">재난 방송 목록 조회</h2>
                                        <button class="btn bg-transparent pt-0 pb-0" style="float: right"
                                                th:onclick="|location.href='/'|">
                                            <i class='bx bxs-left-arrow-circle bx-md'></i>
                                        </button>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-responsive table-hover" id="announceTable">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>방송자</th>
                                                <th>방송 제목</th>
                                                <th>방송 내용</th>
                                                <th>대상 마을</th>
                                                <th>방송 시각</th>
                                                <th>방송 상태</th>
                                                <th>방송 유형</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="announce : ${announceList}">
                                                <td th:text="${announce.id}"></td>
                                                <td th:text="${announce.producer}"></td>
                                                <td th:text="${announce.title}"></td>
                                                <td th:text="${announce.content}"></td>
                                                <td>
                                                    <span th:each="town : ${announce.townList}"
                                                          th:text="|${town}, |"></span>
                                                </td>
                                                <td th:text="${announce.time}"></td>
                                                <td><span th:text="${announce.status}"></span></td>
                                                <td th:text="${announce.category}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->

                    <!-- Modal -->
                    <div class="modal fade" id="announceModal" tabindex="-1"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCenterTitle">
                                        <span class="me-3">방송 듣기</span>
                                        <span id="modal_status" class="badge">방송 상태</span>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col mb-3">
                                            <audio id="modal_src" src="" controls>방송</audio>
                                            <hr>
                                            <p id="modal_id" hidden>ID</p>
                                            <p id="modal_title">방송 제목</p>
                                            <p id="modal_producer">방송자</p>
                                            <p id="modal_contents">내용</p>
                                            <p id="modal_time">방송 시각</p>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="deleteBtn" class="btn btn-danger">삭제</button>
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Modal -->
                </div>
                <!-- / Content -->
            </article>
            <!-- Content wrapper -->

            <!-- footer -->
            <footer>
                <th:block th:insert="~{fragment/footer :: fragment-footer}"></th:block>
                <script type="text/javascript" th:inline="javascript">
                    $(document).ready(function () {

                        var table = $("#announceTable").DataTable({
                            "order": [ [0, "desc"] ]
                        });

                        $("#announceTable tbody").on("click", "tr", function () {
                            var data = table.row(this).data();
                            console.log("click: " + data);
                            $("#announceModal").modal("show");

                            $.ajax({
                                type: "GET",
                                url: "/api/announces/" + data[0],
                                dataType: "JSON",
                                success: function (result) {
                                    console.log("방송을 가져왔습니다");
                                    $("#modal_src").attr('src', result.data.src);
                                    $("#modal_id").val(result.data.id);
                                    $("#modal_title").text("방송 제목: " + result.data.title);
                                    $("#modal_producer").text("방송자: " + result.data.producer);
                                    $("#modal_contents").text("방송 내용: " + result.data.content);
                                    $("#modal_time").text("방송 시각: " + result.data.time);

                                    if (result.data.status == "청취 가능") {
                                        $("#modal_status").attr('class', 'badge bg-success');
                                        $("#modal_status").text('청취 가능');
                                    } else if (result.data.status == "청취 불가능") {
                                        $("#modal_status").attr('class', 'badge bg-secondary');
                                        $("#modal_status").text('청취 불가능');
                                    } else if (result.data.status == "방송 실패") {
                                        $("#modal_status").attr('class', 'badge bg-danger');
                                        $("#modal_status").text('방송 실패');
                                    } else {
                                        $("#modal_status").attr('class', 'badge bg-primary');
                                        $("#modal_status").text('방송 준비중');
                                    }

                                    $("#deleteFormId").attr('value', data[0])
                                },
                                error: function (response) {
                                    alert(response.message);
                                }
                            });
                        });

                        $("#deleteBtn").on("click", function () {
                            var id = $("#modal_id").val();

                            if (confirm("방송을 삭제하시겠습니까?")) {
                                $.ajax({
                                    method: "DELETE",
                                    url: "/api/announces/" + id,
                                    dataType: "JSON",
                                    success: function (result) {
                                        alert(result.message);
                                        window.location.reload(); // 현재 페이지 새로고침
                                    },
                                    error: function (result) {
                                        alert(result.message);
                                    }
                                });
                            }
                        });

                        // 모달 창 닫으면 미디어 재생 종료되도록
                        $("#announceModal").on('hidden.bs.modal', function() {
                            $("#modal_src").attr("src", "");
                        });
                    });
                </script>
            </footer>
            <!-- / footer -->

        </section>
        <!-- / Layout page -->
    </div>
</div>
</body>
</html>
