<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>방송 목록</title>
    <meta charset="UTF-8"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/resources/img/favicon/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/resources/vendor/fonts/boxicons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/resources/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/resources/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/resources/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/resources/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>

    <!-- Page CSS -->
    <link rel="stylesheet" href="/resources/vendor/css/pages/page-auth.css"/>

    <!-- Helpers -->
    <script src="/resources/vendor/js/helpers.js"></script>
    <script src="/resources/js/config.js"></script>

    <!--AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<div class="container-fluid">
    <div>
        <h1>방송 목록</h1>
        <hr>
        <div id="authInfo">
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-danger" style="float: right">로그아웃</button>
            </form>
            <b>Authenticated username: </b>
            <span sec:authentication="name"></span> <br>
            <b>Authenticated user role: </b>
            <span sec:authentication="principal.authorities"></span> <br>
            <b>페이지 접근가능 권한: </b>
            <span>ADMIN</span>
        </div>
        <hr>
        <button class="btn btn-danger" type="button" onclick="location.href='/announces/text'">문자 방송</button>
        <button class="btn btn-warning" type="button" onclick="location.href='/announces/voice'">음성 방송</button>
        <hr>
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>방송자</th>
                <th>방송 내용</th>
                <th>방송 시각</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="announce : ${announceList}"
                th:class="${announce.getCategory() == announce.getCategory.DISASTER ? 'a' : 'b'}">
                <td th:text="${announce.getId()}"></td>
                <td th:text="${announce.getProducer()}"></td>
                <td th:text="${announce.getContents()}"></td>
                <td th:text="${#temporals.format(announce.getTime(), 'yy/MM/dd HH:mm:ss')}"></td>
                <td>
                    <!-- Vertically Centered Modal -->
                    <div class="col-lg-4 col-md-6">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-link modalBtn" data-bs-toggle="modal" data-bs-target="#modalCenter" th:index="${announce.getId()}">
                            <i class='bx bx-play-circle bx-lg'></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <button class="btn btn-primary" type="button" onclick="location.href='/'">메인 화면으로</button>
        <hr>
        <form>
            <input type="text" class="form-control col-3" name="name">
            <button type="submit" class="btn btn-outline-secondary">Search</button>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCenter" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">방송 듣기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <audio id="modal_src" src="" controls>방송</audio>
                            <hr>
                            <p id="modal_title">방송 제목</p>
                            <p id="modal_producer">방송자</p>
                            <p id="modal_contents">내용</p>
                            <p id="modal_time">방송 시각</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="" method="post" id="deleteForm">
                        <input type="hidden" name="id" value="" id="deleteFormId"/>
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button id="deleteBtn" class="btn btn-danger" type="submit">삭제</button>
                    </form>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function (){
        $('.modalBtn').on("click", function (e){
            e.preventDefault();
            var idx = $(this).attr('index');
            console.log("click: " + idx);
            $.ajax({
                type:"GET",
                url:"/announces/"+idx,
                success: function(result) {
                    console.log("방송을 가져왔습니다");
                    $("#modal_src").attr('src', result.src);
                    $("#modal_title").text("방송 제목: " + result.title);
                    $("#modal_producer").text("방송자: " + result.producer);
                    $("#modal_contents").text("방송 내용: " + result.contents);
                    $("#modal_time").text("방송 시각: " + result.time);

                    $("#deleteFormId").attr('value', idx)
                    $("#deleteForm").attr('action', '/announces/' + idx);
                },
                error: function(xhr) {
                    alert("방송을 가져오는데 실패했습니다");
                }
            });
        });
        $("#deleteBtn").on("click", function (e){
            e.preventDefault();
            if(confirm("방송을 삭제하시겠습니까?")) {
                var formObj = $("#deleteForm");
                formObj.submit();
            }
        });
    });
</script>
<script src="/resources/vendor/libs/jquery/jquery.js"></script>
<script src="/resources/vendor/libs/popper/popper.js"></script>
<script src="/resources/vendor/js/bootstrap.js"></script>
<script src="/resources/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/resources/vendor/js/menu.js"></script>

<script src="/resources/js/main.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>