<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>마을 방송(문자) 페이지</title>
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/resources/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"/>

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/resources/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/resources/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/resources/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/resources/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/resources/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!--AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <hr>
    <h1>마을 방송(문자) 페이지</h1>
    <h4 th:text="${admin.getId()}">로그인 계정 정보</h4>
    <hr>
    <div id="authInfo">
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-danger" style="float: right">로그아웃</button>
        </form>
        <b>Authenticated username: </b>
        <span sec:authentication="name"></span> <br>
        <b>Authenticated user role: </b>
        <span sec:authentication="principal.authorities"></span> <br>
        <b>페이지 접근가능 권한: </b>
        <span>ADMIN</span>
    </div>
    <hr>
    <form method="post" action="/announces/text" role="form">
        <label for="inputText">내용</label>
        <input type="text" id="inputText" name="text" class="form-control" placeholder="방송 내용 입력 (500자 제한)">
        <hr>
        <p>재난 유무 선택</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="radio1" value="NORMAL" checked>
            <label class="form-check-label" for="radio1">
                일반
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="radio2" value="DISASTER">
            <label class="form-check-label" for="radio2" style="color: red">
                재난
            </label>
        </div>
        <hr>
        <p>방송 대상 마을 선택</p>
        <ul>
            <li th:each="town : ${townList}">
                <label th:text="*{town.name}">마을 이름</label>
                <input type="checkbox" th:value="*{town.id}" name="townId">
            </li>
        </ul>
        <input type="hidden" th:value="${admin.getId()}" name="adminId">
        <input type="hidden" name="category" value="NORMAL">
        <input type="hidden" name="type" value="TEXT">
        <hr>
        <button type="submit" class="btn btn-danger" id="makeAnnounce">방송하기</button>
        <button type="button" class="btn btn-warning" id="testAnnounce">미리 듣기</button>
        <hr>
    </form>
    <p>자바스크립트 테스트</p>
    <p id="test1"></p>
    <p id="test2"></p>
    <p id="test3"></p>
    <div id="audioPlayer">
    </div>
    <hr>
    <hr>
    <button type="button" class="btn btn-primary" onclick="location.href='/announces'">목록 페이지로</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var player = $('#audioPlayer');
        var test1 = $('#test1');
        var test2 = $('#test2');
        var test3 = $('#test3');
        var isCreated = false; // 미리듣기를 통해 방송 파일이 생성 되었는지?
        var inputText;
        var path;
        var fileName;

        $('#testAnnounce').on("click", function (e) {
            e.preventDefault();
            console.log("미리듣기 click");

            inputText = document.getElementById("inputText").value;
            test1.html("입력 내용: " + inputText);

            if(inputText.length == 0) {
                alert("내용을 입력해주세요");
            } else {
                $.ajax({
                    type:"POST",
                    url:"/announces/text/api",
                    data: {text:inputText},
                    dataType:"json",
                    success: function (result) {
                        alert("방송 생성 성공");
                        fileName = result.fileName;
                        path = result.path;
                        test2.html("파일명: " + fileName + ".mp3");
                        test3.html("저장 경로: \\storage\\ " + path);
                        var fullPath = "\\storage\\" + path + "\\" +  fileName + ".mp3";
                        var tt = "<audio src='" + fullPath + "' controls autoplay>방송</audio>";
                        player.html(tt);
                        isCreated = true; // 방송파일 생성
                    },
                    error: function (xhr) {
                        alert("방송 생성 실패");
                    }
                });
            }
        });

        var formObj = $("form[role='form']");
        $('#makeAnnounce').on("click", function (e) {
            e.preventDefault();
            console.log("방송하기 click");

            inputText = document.getElementById("inputText").value;
            var len = $("input[name='townId']:checked").length;
            if(inputText.length == 0) {
                alert("내용을 입력해주세요");
                return;
            }
            if(len == 0) {
                alert("방송할 마을을 선택해주세요");
                return;
            }
            if(isCreated) {
                alert("미리듣기로 생성된 기존 파일 사용");
                formObj.append($('<input/>', {type:'hidden', name:'path', value:path}));
                formObj.append($('<input/>', {type:'hidden', name:'fileName', value:fileName}));
                formObj.append($('<input/>', {type:'hidden', name:'created', value:true}));
                formObj.submit();
            } else {
                alert("새 방송파일 생성");
                formObj.submit();
            }
        })
    });
</script>
</body>
</html>