<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>마을 방송(문자) 페이지</title>
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/resources/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"/>

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/resources/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/resources/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/resources/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/resources/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/resources/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!--AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <hr>
    <h1>마을 방송(문자) 페이지</h1>
    <h4 th:text="${admin.getId()}">로그인 계정 정보</h4>
    <hr>
    <div id="authInfo">
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-danger" style="float: right">로그아웃</button>
        </form>
        <b>Authenticated username: </b>
        <span sec:authentication="name"></span> <br>
        <b>Authenticated user role: </b>
        <span sec:authentication="principal.authorities"></span> <br>
        <b>페이지 접근가능 권한: </b>
        <span>ADMIN</span>
    </div>
    <hr>
    <form method="post" action="/announces/text" role="form">
        <label for="inputText">내용</label>
        <input type="text" id="inputText" name="text" class="form-control" placeholder="방송 내용 입력 (500자 제한)">
        <hr>
        <p>재난 유무 선택</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="radio1" value="NORMAL" checked>
            <label class="form-check-label" for="radio1">
                일반
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="radio2" value="DISASTER">
            <label class="form-check-label" for="radio2" style="color: red">
                재난
            </label>
        </div>
        <hr>
        <p>방송 대상 마을 선택</p>
        <ul>
            <li th:each="town : ${townList}">
                <label th:text="*{town.name}">마을 이름</label>
                <input type="checkbox" th:value="*{town.id}" name="townId">
            </li>
        </ul>
        <input type="hidden" th:value="${admin.getId()}" name="adminId">
        <input type="hidden" name="category" value="NORMAL">
        <input type="hidden" name="type" value="TEXT">
        <hr>
        <button type="submit" class="btn btn-danger" id="makeAnnounce">방송하기</button>
        <button type="button" class="btn btn-warning" id="testAnnounce">미리 듣기</button>
        <hr>
    </form>
    <p>자바스크립트 테스트</p>
    <p id="test1"></p>
    <hr>
    <button type="button" class="btn btn-primary" onclick="location.href='/announces'">목록 페이지로</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var lastData;
        var lastInputText;
        var test1 = $('#test1');

        $('#testAnnounce').on("click", function (e) {
            e.preventDefault();
            console.log("미리듣기 click");

            inputText = document.getElementById("inputText").value;
            test1.html("입력 내용: " + inputText);

            if(inputText.length == 0) {
                alert("내용을 입력해주세요");
            } else {
                $.ajax({
                    type:"POST",
                    url:"/announces/text/api",
                    data: {text:inputText},
                    dataType:"json",
                    success: function (result) {
                        alert("방송 생성 성공");

                        lastInputText = inputText; // 저장용
                        console.log(lastInputText);
                        lastData = result.audioContents;
                        console.log(lastData);

                        let snd = new Audio("data:audio/mp3;base64," + result.audioContents);
                        snd.play();

                    },
                    error: function (xhr) {
                        alert("방송 생성 실패");
                    }
                });
            }
        });

        var formObj = $("form[role='form']");
        $('#makeAnnounce').on("click", function (e) {
            e.preventDefault();
            console.log("방송하기 click");
            inputText = document.getElementById("inputText").value;
            var len = $("input[name='townId']:checked").length;
            if(inputText.length == 0) {
                alert("내용을 입력해주세요");
                return;
            }
            if(len == 0) {
                alert("방송할 마을을 선택해주세요");
                return;
            }

            if(confirm("문자 방송 하시겠습니까?")) {
                console.log(lastInputText);
                formObj.append($('<input/>', {type:'hidden', name:'contents', value:inputText}));
                if(lastInputText != null && inputText == lastInputText) {
                    formObj.append($('<input/>', {type:'hidden', name:'data', value:lastData}));
                }
                formObj.submit();
            }
        })
    });

    function stringToUint(string) {
        var charList = string.split('');
        var uintArray = [];
        for (var i = 0; i < charList.length; i++) {
            uintArray.push(charList[i].charCodeAt(0));
        }
        console.log(uintArray);
        return new Uint8Array(uintArray);
    }
</script>
</body>
</html>