<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>마을 방송(음성) 페이지</title>
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/resources/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"/>

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/resources/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/resources/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/resources/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/resources/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/resources/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!--AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <hr>
    <h1>마을 방송(음성) 페이지</h1>
    <h4 th:text="${admin.getId()}">로그인 계정 정보</h4>
    <hr>
    <div id="authInfo">
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-danger" style="float: right">로그아웃</button>
        </form>
        <b>Authenticated username: </b>
        <span sec:authentication="name"></span> <br>
        <b>Authenticated user role: </b>
        <span sec:authentication="principal.authorities"></span> <br>
        <b>페이지 접근가능 권한: </b>
        <span>ADMIN</span>
    </div>
    <hr>
    <form method="post" action="/announces/voice" role="form">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p class="font-weight-bold text-primary" id="recorderTitle"
                   style="font-size: 1.5em; margin-bottom: 0;">음성 파일 업로드</p>
                <hr>
            </div>
            <div class="card-body">
                <section class="main-controls">
                    <canvas class="visualizer" height="60px"></canvas>
                    <hr>
                    <div id="buttons">
                        <button class="btn btn-success" id="record">Record</button>
                        <button class="btn btn-danger" id="stop">Stop</button>
                    </div>
                </section>
                <hr>
                <section class="sound-clips">
                </section>
                <hr>
                <button type="button" class="btn btn-warning" id="testAnnounce">미리 듣기</button>
            </div>
        </div>
        <hr>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p class="font-weight-bold text-primary" style="font-size: 1.5em; margin-bottom: 0;">음성 파일 업로드</p>
            </div>
            <div class="card-body">
                <div class="form-group uploadDiv">
                    <input class="btn btn-primary" type="file" name="uploadFile" id="files">
                </div>
                <div class="uploadResult">

                </div>
                <hr>
                <button type="button" class="btn btn-warning" id="uploadPreview">들어보기</button>
            </div>
        </div>
        <hr>
        <p>재난 유무 선택</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="radio1" value="NORMAL" checked>
            <label class="form-check-label" for="radio1">
                일반
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="radio2" value="DISASTER">
            <label class="form-check-label" for="radio2" style="color: red">
                재난
            </label>
        </div>
        <hr>
        <p>방송 대상 마을 선택</p>
        <ul>
            <li th:each="town : ${townList}">
                <label th:text="*{town.name}">마을 이름</label>
                <input type="checkbox" th:value="*{town.id}" name="townId">
            </li>
        </ul>
        <input type="hidden" th:value="${admin.getId()}" name="adminId">
        <input type="hidden" name="category" value="NORMAL">
        <input type="hidden" name="type" value="VOICE">
        <input type="hidden" name="contents" value="[음성 방송입니다]">
        <hr>
        <button type="submit" class="btn btn-danger" id="makeAnnounce">방송하기</button>
        <hr>
    </form>
    <button type="button" class="btn btn-primary" onclick="location.href='/announces'">목록 페이지로</button>
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        let audioContents;
        /**
         * 파일 용량 및 확장자 검사
         */
        var regex = new RegExp("(.*?)\.(mp3)$");
        var maxSize = 1048576;
        function checkExtension(fileName, fileSize) {
            if (fileSize > maxSize) {
                alert("파일 사이즈 초과");
                return false;
            }
            if (!regex.test(fileName)) {
                alert("mp3 확장자만 업로드 할 수 있습니다.");
                return false;
            }
            return true;
        }

        /**
         * 업로드된 파일 미리듣기
         */
        function showUploadResult(uploadFile) {
            console.log(uploadFile);
            if (!uploadFile) {
                return;
            }
            playFile(uploadFile, 1);
        }

        /**
         * 미리듣기 버튼
         */
        $("#uploadPreview").on("click", function (e) {
            console.log("첨부파일 미리듣기 클릭");
            let inputFile = $("input[name='uploadFile']");
            let file = inputFile[0].files;
            console.log(file[0]);
            console.log(file[0].name);
            console.log(file[0].size);
            if(!checkExtension(file[0].name, file[0].size)) return false;
            showUploadResult(file[0]);
        });

        document.getElementById('files').addEventListener('change', handleFileSelect, false);
        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object
            playFile(files[0], 0);
        }

        window.AudioContext = window.AudioContext || window.webkitAudioContext;
        var context = new window.AudioContext();
        var source;

        /**
         * 파일 재생
         */
        function playSound(arraybuffer) {
            context.decodeAudioData(arraybuffer, function (buf) {
                source = context.createBufferSource();
                source.connect(context.destination);
                source.buffer = buf;
                source.start(0);
            });
        }

        function playFile(file, flag) {
            var freader = new FileReader();
            freader.onload = function (e) {
                console.log(e.target.result);
                audioContents = _arrayBufferToBase64(e.target.result);
                if(flag === 1) {
                    playSound(e.target.result);
                }
            };
            freader.readAsArrayBuffer(file);
        }

        /**
         * 방송 저장
         */
        var formObj = $("form[role='form']");
        $("#makeAnnounce").on("click", function (e) {
            e.preventDefault();
            console.log(audioContents);
            let townIdList = document.querySelectorAll("input[name='townId']:checked");
            if(townIdList.length == 0) {
                alert("마을을 선택해주세용");
                return false;
            }

            if(confirm("방송?")) {
                formObj.append($('<input/>', {type:'hidden', name:'data', value:audioContents}));
                formObj.submit();
            }
        });
    });

    function blobToBase64(blob) {
        return new Promise((resolve, _) => {
            const reader = new FileReader();
            reader.onloadend = () => resolve(reader.result);
            reader.readAsDataURL(blob);
        });
    }

    function _arrayBufferToBase64( buffer ) {
        var binary = '';
        var bytes = new Uint8Array(buffer);
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode(bytes[i]);
        }
        return window.btoa(binary);
    }
</script>
<!--녹음기-->
<script type="text/javascript" src="/resources/js/recorder.js"></script>
</body>
</html>