<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>마을 방송(음성) 페이지</title>
    <meta charset="UTF-8"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/resources/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"/>

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/resources/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/resources/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/resources/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/resources/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/resources/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!--AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <hr>
    <h1>마을 방송(음성) 페이지</h1>
    <h4 th:text="${admin.getId()}">로그인 계정 정보</h4>
    <hr>
    <div id="authInfo">
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-danger" style="float: right">로그아웃</button>
        </form>
        <b>Authenticated username: </b>
        <span sec:authentication="name"></span> <br>
        <b>Authenticated user role: </b>
        <span sec:authentication="principal.authorities"></span> <br>
        <b>페이지 접근가능 권한: </b>
        <span>ADMIN</span>
    </div>
    <hr>
    <form method="post" action="/announces/voice" role="form">
        <p>재난 유무 선택</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="radio1" value="NORMAL" checked>
            <label class="form-check-label" for="radio1">
                일반
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="radio2" value="DISASTER">
            <label class="form-check-label" for="radio2" style="color: red">
                재난
            </label>
        </div>
        <hr>
        <p>방송 대상 마을 선택</p>
        <ul>
            <li th:each="town : ${townList}">
                <label th:text="*{town.name}">마을 이름</label>
                <input type="checkbox" th:value="*{town.id}" name="townId">
            </li>
        </ul>
        <input type="hidden" th:value="${admin.getId()}" name="adminId">
        <input type="hidden" name="category" value="NORMAL">
        <input type="hidden" name="type" value="VOICE">
        <input type="hidden" name="contents" value="[음성 방송입니다]">
        <hr>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p class="font-weight-bold text-primary" id="recorderTitle"
                   style="font-size: 1.5em; margin-bottom: 0;">녹음기</p>
                <hr>
            </div>
            <div class="card-body">
                <section class="main-controls">
                    <canvas class="visualizer" height="60px"></canvas>
                    <hr>
                    <div id="buttons">
                        <button class="btn btn-success" id="record">Record</button>
                        <button class="btn btn-danger" id="stop">Stop</button>
                    </div>
                </section>
                <hr>
                <button type="button" class="btn btn-warning" id="testAnnounce">미리 듣기</button>
                <button type="submit" class="btn btn-danger" id="AnnounceByRecord">방송하기</button>
            </div>
        </div>
        <hr>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p class="font-weight-bold text-primary" style="font-size: 1.5em; margin-bottom: 0;">음성 파일 업로드</p>
            </div>
            <div class="card-body">
                <div class="form-group uploadDiv">
                    <input class="btn btn-primary" type="file" name="uploadFile" id="files">
                </div>
                <div class="uploadResult">

                </div>
                <hr>
                <button type="button" class="btn btn-warning" id="uploadPreview">미리 듣기</button>
                <button type="submit" class="btn btn-danger" id="AnnounceByUpload">방송하기</button>
            </div>
        </div>
        <hr>

        <hr>
    </form>
    <button type="button" class="btn btn-primary" onclick="location.href='/announces'">목록 페이지로</button>
</div>
<script type="text/javascript">

    const header = document.querySelector('#recorderTitle');
    const record = document.querySelector('#record');
    const stop = document.querySelector('#stop');
    const canvas = document.querySelector('.visualizer');
    const mainSection = document.querySelector('.main-controls');
    const testPlay = document.querySelector("#testAnnounce");
    const save = document.querySelector("#AnnounceByRecord");
    const formObj = document.querySelector("form[role='form']");

    let audioCtx;
    const canvasCtx = canvas.getContext("2d");
    let context
    let audioContents;

    // 녹음을 통한 음성방송
    if (navigator.mediaDevices.getUserMedia) {
        console.log('getUserMedia supported.');

        stop.disabled = true;

        const constraints = { audio: true };
        let chunks = [];
        let blob;
        let blobCnt = 0;

        let onSuccess = function(stream) {
            audioCtx = new AudioContext();

            const mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.ondataavailable = function(e) {
                chunks = [];
                chunks.push(e.data);
                blob = new Blob(chunks, { 'type' : 'audio/mp3;' }); // recorder 종료와 동시에 blob 생성
                blobCnt += 1;
            }

            visualize(stream);

            record.onclick = function() {
                mediaRecorder.start();
                console.log(mediaRecorder.state);
                console.log("recorder started");
                record.style.background = "gray";

                stop.disabled = false;
                record.disabled = true;
                header.textContent = "녹음 진행중";
            }

            stop.onclick = function() {
                mediaRecorder.stop();
                console.log(mediaRecorder.state);
                console.log("recorder stopped");
                record.style.background = "";
                record.style.color = "";

                stop.disabled = true;
                record.disabled = false;
                header.textContent = "녹음기";
            }

            testPlay.onclick = function(e) {
                console.log("미리듣기 클릭");
                if(blobCnt == 0) {
                    alert("녹음된 파일이 없습니다!");
                    return false;
                }
                console.log(blob);
                blob.arrayBuffer().then(result => {
                    playSound(result);
                });
            }

            save.onclick = function(e) {
                e.preventDefault();
                console.log("녹음 방송 저장 클릭");
                let townIdList = document.querySelectorAll("input[name='townId']:checked");
                if(townIdList.length == 0) {
                    alert("마을을 선택해주세용");
                    return;
                }
                if(blobCnt == 0) {
                    alert("녹음된 파일이 없습니다!");
                    return false;
                }
                blobToBase64(blob).then(result => {
                    if(confirm("녹음한 파일로 방송 하시겠습니까??")) {
                        var input = document.createElement('input');
                        input.type = 'hidden';
                        input.name = 'data';
                        input.value = result.toString().replace("data:audio/mp3;;base64,", '');
                        formObj.appendChild(input);

                        formObj.submit();
                    }
                });
            }
        }
        let onError = function(err) {
            console.log('The following error occured: ' + err);
        }
        navigator.mediaDevices.getUserMedia(constraints).then(onSuccess, onError);
    } else {
        console.log('getUserMedia not supported on your browser!');
    }

    $(document).ready(function (e) {

        // 첨부파일 미리듣기
        $("#uploadPreview").on("click", function (e) {
            console.log("첨부파일 미리듣기 클릭");
            let inputFile = $("input[name='uploadFile']");
            let file = inputFile[0].files;
            if(file.length == 0) {
                alert("업로드된 파일이 없습니다!");
                return;
            }
            console.log(file[0]);
            console.log(file[0].name);
            console.log(file[0].size);
            if(!checkExtension(file[0].name, file[0].size)) return false;
            playFile(file[0], 1);
        });

        document.getElementById('files').addEventListener('change', handleFileSelect, false);
        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object
            playFile(files[0], 0);
        }

        // 첨부파일 방송 저장
        $("#AnnounceByUpload").on("click", function (e) {
            e.preventDefault();
            console.log(audioContents);
            let townIdList = document.querySelectorAll("input[name='townId']:checked");
            if(townIdList.length == 0) {
                alert("마을을 선택해주세용");
                return false;
            }
            if(audioContents == undefined || audioContents == null) {
                alert("방송 파일이 없습니다");
                return false;
            }

            if(confirm("첨부한 파일로 방송하시겠습니까??")) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'data';
                input.value = audioContents;
                formObj.appendChild(input);
                formObj.submit();
            }
        });
    });

    // 파일 용량 및 확장자 검사
    var regex = new RegExp("(.*?)\.(mp3)$");
    var maxSize = 1048576;
    function checkExtension(fileName, fileSize) {
        if (fileSize > maxSize) {
            alert("파일 사이즈 초과");
            return false;
        }
        if (!regex.test(fileName)) {
            alert("mp3 확장자만 업로드 할 수 있습니다.");
            return false;
        }
        return true;
    }

    // 파일 재생 (arrayBuffer)
    function playSound(arraybuffer) {
        audioCtx.decodeAudioData(arraybuffer, function (buf) {
            var source = audioCtx.createBufferSource();
            source.connect(audioCtx.destination);
            source.buffer = buf;
            source.start(0);
        });
    }

    // 파일 읽기 -> arrayBuffer 꺼내오기 -> base64 변환
    // flag (1: 재생 o / 1: 재생 x)
    function playFile(file, flag) {
        var freader = new FileReader();
        freader.onload = function (e) {
            console.log(e.target.result);
            audioContents = _arrayBufferToBase64(e.target.result);
            if(flag === 1) {
                playSound(e.target.result);
            }
        };
        freader.readAsArrayBuffer(file);
    }

    function blobToBase64(blob) {
        return new Promise((resolve, _) => {
            const reader = new FileReader();
            reader.onloadend = () => resolve(reader.result);
            reader.readAsDataURL(blob);
        });
    }

    function _arrayBufferToBase64( buffer ) {
        var binary = '';
        var bytes = new Uint8Array(buffer);
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode(bytes[i]);
        }
        return window.btoa(binary);
    }

    // 녹음 파장 시각화
    function visualize(stream) {
        if(audioCtx == null) {
            audioCtx = new AudioContext();
        }
        const source = audioCtx.createMediaStreamSource(stream);
        const analyser = audioCtx.createAnalyser();
        analyser.fftSize = 2048;
        const bufferLength = analyser.frequencyBinCount;
        const dataArray = new Uint8Array(bufferLength);

        source.connect(analyser);
        //analyser.connect(audioCtx.destination);

        draw()

        function draw() {
            const WIDTH = canvas.width
            const HEIGHT = canvas.height;

            requestAnimationFrame(draw);

            analyser.getByteTimeDomainData(dataArray);

            canvasCtx.fillStyle = 'rgb(200, 200, 200)';
            canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);

            canvasCtx.lineWidth = 2;
            canvasCtx.strokeStyle = 'rgb(0, 0, 0)';

            canvasCtx.beginPath();

            let sliceWidth = WIDTH * 1.0 / bufferLength;
            let x = 0;


            for(let i = 0; i < bufferLength; i++) {

                let v = dataArray[i] / 128.0;
                let y = v * HEIGHT/2;

                if(i === 0) {
                    canvasCtx.moveTo(x, y);
                } else {
                    canvasCtx.lineTo(x, y);
                }

                x += sliceWidth;
            }

            canvasCtx.lineTo(canvas.width, canvas.height/2);
            canvasCtx.stroke();

        }
    }

    // uuid 이름 생성
    function uuidv4() {
        return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
    }

    window.onresize = function() {
        canvas.width = mainSection.offsetWidth;
    }
    window.onresize();

</script>
</body>
</html>