<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: fragment-header ('마을 관리자 추가')}"></head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Sidebar fragment -->
        <div th:replace="~{fragment/sidebar :: fragment-sidebar('sidebar_town', '')}"></div>
        <!-- /Sidebar -->
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar(검색창) -->
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>
            </nav>
            <!-- / Navbar(검색창) -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- 마을 Card -->
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2">마을 관리자 추가</h2>
                                        <button class="btn bg-transparent pt-0 pb-0" style="float: right"
                                                th:onclick="|location.href='@{/towns/{id}(id=${townId})}'|">
                                            <i class='bx bxs-left-arrow-circle bx-md'></i>
                                        </button>
                                        <hr>
                                    </div>
                                    <div class="card-body ms-2">
                                        <h2>[마을 주민을 마을 관리자로 등록]</h2>
                                        <hr><br>
                                        <table class="table table-bordered table-hover" id="userTable">
                                            <thead class="table-secondary">
                                            <tr>
                                                <th>#</th>
                                                <th>이름</th>
                                                <th>전화번호</th>
                                                <th>등록</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${userList}">
                                                <td th:text="${user.id}"></td>
                                                <td th:text="${user.name}"></td>
                                                <td th:text="${user.tel}"></td>
                                                <td>
                                                    <form action="" method="post" th:if="${!user.isAdmin()}">
                                                        <input type="hidden" name="userId" th:value="${user.id}"/>
                                                        <button class="btn btn-primary adminRegister" type="submit"
                                                                onclick="if(!confirm('관리자로 등록하시겠습니까?')){return false;}">등록</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br><br>
                                        <h2>[관리자를 마을 관리자로 등록]</h2>
                                        <hr><br>
                                        <table class="table table-bordered table-hover" id="adminTable">
                                            <thead class="table-secondary">
                                            <tr>
                                                <th>#</th>
                                                <th>이름</th>
                                                <th>전화번호</th>
                                                <th>등록</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="admin : ${adminList}"
                                                th:if="${admin.type.toString() == 'ADMIN'}">
                                                <td th:text="${admin.id}"></td>
                                                <td th:text="${admin.name}"></td>
                                                <td th:text="${admin.tel}"></td>
                                                <td>
                                                    <form action="" method="post">
                                                        <input type="hidden" name="adminId" th:value="${admin.id}"/>
                                                        <button class="btn btn-primary" type="submit"
                                                                onclick="if(!confirm('관리자로 등록하시겠습니까?')){return false;}">등록</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->
                </div>
                <!-- / Content -->
                <!-- footer -->
                <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
                <!-- / footer -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<script type="text/javascript">
    $(document).ready(function() {
       $("#userTable").dataTable();
       $("#adminTable").dataTable();
    });
</script>
<div th:replace="~{fragment/header :: fragment-bottom-script}"></div>
</body>
</html>
