<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragment/header :: fragment-header ('마을 상세 페이지')}"></th:block>
</head>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Sidebar -->
        <aside th:replace="~{fragment/sidebar :: fragment-sidebar('sidebar_town', '')}"></aside>
        <!-- /Sidebar -->

        <!-- Layout container -->
        <section class="layout-page">

            <!-- Navbar -->
            <nav th:replace="~{fragment/navbar :: fragment-navbar}"></nav>
            <!-- /Navbar -->

            <!-- Content wrapper -->
            <article class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">

                    <div class="alert alert-primary" role="alert">
                        <span th:text="|${townData.townName} 현재 기상 정보 - |">xx마을 현재 기상 정보</span>
                        <span id="weatherInfoText">-</span>
                        <button type="button" class="btn bg-transparent" id="reloadWeatherInfoBtn"
                                style="position: absolute; right: 0px; top: 0px;">
                            <i class='bx bx-sync bx-rotate-90 bx-md' id="weatherSyncIcon"></i>
                        </button>
                    </div>

                    <!-- 마을 Card -->
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2" th:text="|${townData.townName} 상세|">xx마을 상세</h2>
                                        <button class="btn bg-transparent py-0" style="float: right"
                                                th:onclick="|location.href='/'|">
                                            <i class='bx bxs-left-arrow-circle bx-md'></i>
                                        </button>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-4">
                                            <div class="col-md-4">
                                                <canvas id="myChart" height="250"></canvas>
                                                <script th:inline="javascript">
                                                    var notConnectedCnt = [[${townData.connectionErrorCnt}]];
                                                    var mqttErrorCnt = [[${townData.connectionErrorCnt}]];
                                                    var sensorErrorCnt = [[${townData.sensorErrorCnt}]];
                                                    var fireAlertCnt = [[${townData.fireAlertCnt}]];
                                                    var userAlertCnt = [[${townData.userAlertCnt}]];
                                                    var motionAlertCnt = [[${townData.motionAlertCnt}]];
                                                    var ctx = document.getElementById("myChart").getContext('2d');
                                                    var myChart = new Chart(ctx, {
                                                        type: 'bar',
                                                        data: {
                                                            labels: ['단말기 미연결', '단말기 장애', '긴급 호출'],
                                                            datasets: [
                                                                {
                                                                    label: '단말기 미연결',
                                                                    data: [notConnectedCnt, -1, -1],
                                                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                                                    borderColor: 'rgb(0, 0, 0, 0.5)',
                                                                    stack: 'Stack 0',
                                                                    borderWidth: 1,
                                                                },
                                                                {
                                                                    label: '통신 장애',
                                                                    data: [-1, mqttErrorCnt, -1],
                                                                    backgroundColor: 'rgba(255, 159, 64, 0.2)',
                                                                    borderColor: 'rgb(0, 0, 0, 0.5)',
                                                                    stack: 'Stack 0',
                                                                    borderWidth: 1,
                                                                },
                                                                {
                                                                    label: '센서 장애',
                                                                    data: [-1, sensorErrorCnt, -1],
                                                                    backgroundColor: 'rgba(255, 205, 86, 0.2)',
                                                                    borderColor: 'rgb(0, 0, 0, 0.5)',
                                                                    stack: 'Stack 0',
                                                                    borderWidth: 1,
                                                                },
                                                                {
                                                                    label: '사용자 호출',
                                                                    data: [-1, -1, userAlertCnt],
                                                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                                                    borderColor: 'rgb(0, 0, 0, 0.5)',
                                                                    stack: 'Stack 0',
                                                                    borderWidth: 1,
                                                                },
                                                                {
                                                                    label: '화재 감지',
                                                                    data: [-1, -1, fireAlertCnt],
                                                                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                                                    borderColor: 'rgb(0, 0, 0, 0.5)',
                                                                    stack: 'Stack 0',
                                                                    borderWidth: 1,
                                                                },
                                                                {
                                                                    label: '동작 감지',
                                                                    data: [-1, -1, motionAlertCnt],
                                                                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                                                                    borderColor: 'rgb(0, 0, 0, 0.5)',
                                                                    stack: 'Stack 0',
                                                                    borderWidth: 1,
                                                                },
                                                            ]
                                                        },
                                                        options: {
                                                            plugins: {
                                                                title: {
                                                                    display: true,
                                                                    text: '마을 현황 차트'
                                                                },
                                                                legend: {
                                                                    display: false
                                                                }
                                                            },
                                                            responsive: true,
                                                            interaction: {
                                                                intersect: false,
                                                            },
                                                            scales: {
                                                                x: {
                                                                    stacked: true,
                                                                },
                                                                y: {
                                                                    min: 0,
                                                                    suggestedMax: 10,
                                                                    stacked: true,
                                                                    beginAtZero: true,
                                                                    ticks: {
                                                                        stepSize: 10
                                                                    },
                                                                }
                                                            }
                                                        }
                                                    });
                                                </script>
                                            </div>
                                            <div class="col-md-4">
                                                <h5 class="text-center fw-bold">마을 현황</h5>
                                                <table class="table table-borderless border border-secondary">
                                                    <tbody>
                                                    <tr>
                                                        <td class="fw-bold">마을 주민</td>
                                                        <td th:text="|${townData.userCnt}명|">-명</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-bold" style="color: #e83e8c"
                                                            th:text="|단말기 미연결:${townData.deviceErrorCnt}|">정상:-
                                                        </td>
                                                        <td class="fw-bold" style="color: coral"
                                                            th:text="|통신 장애:${townData.connectionErrorCnt}|">통신 장애:-
                                                        </td>
                                                        <td class="fw-bold" style="color: #dc3545"
                                                            th:text="|센서 장애:${townData.sensorErrorCnt}|">센서 장애:-
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-bold">마을 관리자</td>
                                                        <td th:text="|${townData.townAdminCnt}명|">-명</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-bold">긴급 호출</td>
                                                        <td th:text="|${townData.alertCnt}건|">-건</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-bold" style="color: #e83e8c"
                                                            th:text="|사용자:${townData.userAlertCnt}|">사용자:-
                                                        </td>
                                                        <td class="fw-bold" style="color: coral"
                                                            th:text="|동작:${townData.motionAlertCnt}|">동작:-
                                                        </td>
                                                        <td class="fw-bold" style="color: #dc3545"
                                                            th:text="|화재:${townData.fireAlertCnt}|">화재:-
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-bold">방송 송출</td>
                                                        <td th:text="|${townData.announceCnt}건|">-건</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="row row-bordered g-0">
                                                    <div class="col-12 mb-4">
                                                        <table class="table table-borderless">
                                                            <form id="formObj"
                                                                  th:action="@{/api/towns/{id}(id=${townData.townId})}"
                                                                  method="post">
                                                                <tr>
                                                                    <td>
                                                                        <div class="form-group mb-3">
                                                                            <label>마을 이름</label>
                                                                            <input type="text" class="form-control"
                                                                                   name="name"
                                                                                   th:value="${townData.townName}">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div class="form-group mb-3">
                                                                            <div>지역 선택</div>
                                                                            <select name="regionCode"
                                                                                    class="form-select"
                                                                                    th:value="${townData.regionId}">
                                                                                <option th:each="region : ${regionList}"
                                                                                        th:value="${region.getId}"
                                                                                        th:selected="${region.getId} == ${townData.regionId}"
                                                                                        th:text="${region.toString()}">
                                                                                    지역명
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <!-- 최고 관리자만 접근 가능 -->
                                                                <tr sec:authorize="hasRole('SUPER')">
                                                                    <td class="text-end">
                                                                        <button type="button" class="btn btn-primary"
                                                                                id="townSaveBtn">저장
                                                                        </button>
                                                                        <button type="button" class="btn btn-danger"
                                                                                id="townDeleteBtn">삭제
                                                                        </button>
                                                                        <button type="button" class="btn btn-success"
                                                                                onclick="alert('임시 중단')">
                                                                            <!--                                                                                th:onclick="|location.href='@{/towns/{id}/admin/new(id=${townData.townId})}'|">-->
                                                                            관리자 추가
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </form>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->
                    <!-- 마을 Card -->
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2">마을 대표 관리자</h2>
                                        <!-- 최고 관리자만 보임 -->
                                        <button type="button" class="btn bg-transparent py-0"
                                                sec:authorize="hasRole('SUPER')"
                                                id="RepTownAdminSettingBtn"
                                                style="float: right">
                                            <i class='bx bxs-cog bx-md'></i>
                                        </button>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-bordered">
                                            <thead class="table-secondary">
                                            <tr>
                                                <th>이름</th>
                                                <th>연락처</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td th:text="${townData.mainAdminName}"></td>
                                                <td th:text="${townData.mainAdminTel}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->
                    <!-- Modal -->
                    <div class="modal fade" id="RepTownAdminSettingModal" data-bs-backdrop="static" tabindex="-1"
                         style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <form class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="backDropModalTitle">대표 관리자 등록</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>이름</th>
                                            <th>연락처</th>
                                            <th>선택</th>
                                        </tr>
                                        </thead>
                                        <tbody id="adminList" class="text-center">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <hr>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /Modal -->
                </div>
                <!-- / Content -->
            </article>
            <!-- Content wrapper -->

            <!-- footer -->
            <footer>
                <th:block th:insert="~{fragment/footer :: fragment-footer}"></th:block>
                <script type="text/javascript" th:inline="javascript">
                    $(document).ready(function () {
                        $("#adminTable").DataTable();
                        $("#userTable").DataTable();
                        $("#announceTable").DataTable();
                        $("#alertTable").DataTable();

                        var townId = [[${townData.townId}]];
                        var regionId = [[${townData.regionId}]];

                        $("#weatherSyncIcon").addClass("bx-spin");

                        // 페이지 로딩 완료 시 먼저 1회 수행
                        $.ajax({
                            type: "GET",
                            url: "/api/weather?regionId=" + regionId,
                            dataType: "json",
                            success: function (result) {
                                $("#weatherSyncIcon").removeClass("bx-spin");

                                var weather = result.weather;

                                if (weather == null) {
                                    $("#weatherInfoText").text("날씨를 불러오는 중 오류가 발생했습니다.");
                                } else {
                                    var lastUpdateTime = weather.lastUpdateTime;
                                    var temp = weather.temp;
                                    var humid = weather.humid;
                                    var rainAmount = weather.rainAmount;
                                    $("#weatherInfoText").text(" 온도: " + temp + "℃, 습도: " + humid
                                        + "%, 강수량: " + rainAmount + "mm (기준 시점: " + lastUpdateTime + "시)");
                                }
                            },
                            error: function (xhr) {
                                alert(xhr.responseText);
                                $("#weatherSyncIcon").removeClass("bx-spin");
                            }
                        });

                        $("#townDeleteBtn").on("click", function () {
                            if (confirm("마을을 삭제하시겠습니까? (주의:해당 마을에 주민이 존재하는 경우 삭제가 불가능합니다.)")) {
                                if ([[${townData.userCnt}]] != 0) {
                                    alert("마을 주민이 존재하면 마을을 삭제할 수 없습니다");
                                    return false;
                                }
                                $.ajax({
                                    type: "DELETE",
                                    url: "/api/towns/" + townId,
                                    success: function (result) {
                                        alert(result.message);
                                        window.location.href = "/";
                                    },
                                    error: function (result) {
                                        alert(result.message);
                                        window.location.reload();
                                    }
                                });
                            } else {
                                return false;
                            }
                        });

                        $("#townSaveBtn").on("click", function () {
                            if (confirm("수정된 정보를 저장하시겠습니까?")) {
                                var townModifyData = {
                                    id: [[${townData.townId}]],
                                    name: $("input[name='name']").val(),
                                    regionCode: $("select[name='regionCode']").val()
                                };
                                $.ajax({
                                    type: "PATCH",
                                    url: "/api/towns",
                                    data: JSON.stringify(townModifyData),
                                    dataType: "JSON",
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (result) {
                                        alert(result.message);
                                        window.location.reload();
                                    },
                                    error: function (result) {
                                        alert(result.message);
                                        window.location.reload();
                                    }
                                });
                            } else {
                                return false;
                            }
                        });

                        $("#showUserTableBtn").on("click", function () {
                            $("#userDiv").css('display', '');
                            $("#announceDiv").css('display', 'none');
                            $("#alertDiv").css('display', 'none');
                        });

                        $("#showAnnounceTableBtn").on("click", function () {
                            $("#userDiv").css('display', 'none');
                            $("#announceDiv").css('display', '');
                            $("#alertDiv").css('display', 'none');

                            $("#announceTable tbody").on("click", "tr", function () {
                                var data = $("#announceTable").DataTable().row(this).data();
                                console.log("click: " + data);
                                $("#announceModal").modal("show");

                                $.ajax({
                                    type: "GET",
                                    url: "/api/announces/" + data[0],
                                    success: function (result) {
                                        console.log("방송을 가져왔습니다");
                                        $("#modal_src").attr('src', result.src);
                                        $("#modal_id").val(result.id);
                                        $("#modal_title").text("방송 제목: " + result.title);
                                        $("#modal_producer").text("방송자: " + result.producer);
                                        $("#modal_contents").text("방송 내용: " + result.content);
                                        $("#modal_time").text("방송 시각: " + result.time);

                                        $("#deleteFormId").attr('value', data[0])
                                    },
                                    error: function (xhr) {
                                        alert("방송을 가져오는데 실패했습니다");
                                    }
                                });
                            });

                            $("#deleteBtn").on("click", function (e) {
                                e.preventDefault();
                                if (confirm("방송을 삭제하시겠습니까?")) {
                                    var id = $("#modal_id").val();

                                    if (confirm("방송을 삭제하시겠습니까?")) {
                                        $.ajax({
                                            method: "DELETE",
                                            url: "/api/announces/" + id,
                                            dataType: "text",
                                            success: function (result) {
                                                alert(result);
                                                window.location.reload(); // 현재 페이지 새로고침
                                            },
                                            error: function (xhr) {
                                                alert("알 수 없는 오류가 발생했습니다");
                                            }
                                        });
                                    }
                                }
                            });
                        });

                        $("#showAlertTableBtn").on("click", function () {
                            $("#userDiv").css('display', 'none');
                            $("#announceDiv").css('display', 'none');
                            $("#alertDiv").css('display', '');
                        });

                        $("#reloadWeatherInfoBtn").on("click", function () {

                            $("#weatherSyncIcon").addClass("bx-spin");

                            $.ajax({
                                type: "GET",
                                url: "/api/weather?regionId=" + regionId,
                                dataType: "json",
                                success: function (result) {
                                    var weather = result.weather;
                                    var lastUpdateTime = weather.lastUpdateTime;
                                    var temp = weather.temp;
                                    var humid = weather.humid;
                                    var rainAmount = weather.rainAmount;
                                    $("#weatherInfoText").text(" 온도: " + temp + "º, 습도: " + humid
                                        + "%, 강수량: " + rainAmount + "mm (기준 시점: " + lastUpdateTime + "시)");
                                    $("#weatherSyncIcon").removeClass("bx-spin");
                                },
                                error: function (xhr) {
                                    alert(xhr.responseText);
                                    $("#weatherSyncIcon").removeClass("bx-spin");
                                }
                            });
                        });

                        $("#RepTownAdminSettingBtn").on("click", function () {
                            $.ajax({
                                type: "GET",
                                url: "/api/admin?townId=" + [[${townData.townId}]],
                                success: function (result) {
                                    console.log(result);
                                    $("#adminList").empty(); // 먼저 모달 데이터 초기화
                                    var str = '';
                                    $("#RepTownAdminSettingModal").modal('show');
                                    $.each(result.data, function (i) {
                                        str += '<tr>';
                                        str += '<td>'
                                            + result.data[i].id + '</td><td>'
                                            + result.data[i].name + '</td><td>'
                                            + result.data[i].tel + '</td><td>'
                                            + '<button type="button" class="btn btn-success" onclick="rtaBtnClick(' + [[${townData.townId}]] + ',' + result.data[i].id + ')">선택</button>'
                                            + '</td>'
                                        str += '</tr>';
                                    });
                                    $("#adminList").append(str);
                                },
                                error: function (result) {
                                    alert(result.responseText);
                                }
                            });
                        });

                        // 모달 창 닫으면 미디어 재생 종료되도록
                        $("#announceModal").on('hidden.bs.modal', function () {
                            $("#modal_src").attr("src", "");
                        });
                    });

                    function rtaBtnClick(townId, adminId) {
                        if (confirm('대표 관리자로 등록하시겠습니까?')) {
                            $.ajax({
                                type: "POST",
                                url: "/api/towns/" + townId + "/rep?adminId=" + adminId,
                                success: function(result) {
                                    alert(result);
                                    window.location.reload();
                                },
                                error: function (result) {
                                    alert(result.responseText);
                                }
                            });
                        }
                    }

                </script>
            </footer>
            <!-- / footer -->

        </section>
        <!-- / Layout page -->
    </div>
</div>
</body>
</html>
