<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: fragment-header ('마을 주민 목록 페이지')}"></head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Sidebar fragment -->
        <div th:replace="~{fragment/sidebar :: fragment-sidebar('sidebar_user', '')}"></div>
        <!-- /Sidebar -->
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar(검색창) -->
            <div th:replace="~{fragment/navbar :: fragment-navbar}"></div>
            <!-- /Navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- 마을 Card -->
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2">마을 주민 목록</h2>
                                        <button class="btn bg-transparent pt-0 pb-0" style="float: right"
                                                th:onclick="|location.href='/'|">
                                            <i class='bx bxs-left-arrow-circle bx-md'></i>
                                        </button>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-responsive table-hover" id="userTable">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>이름</th>
                                                <th>생년월일</th>
                                                <th>전화번호</th>
                                                <th>주소</th>
                                                <th>소속 마을</th>
                                                <th>보호자</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>이름</td>
                                                <td>2022-12-13</td>
                                                <td>010-1234-1234</td>
                                                <td>마을 주민 주소</td>
                                                <td>마을 이름</td>
                                                <td>보호자 이름</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->
                </div>
                <!-- / Content -->
                <!-- footer -->
                <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
                <!-- / footer -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        var table = $("#userTable").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "/api/user",
            "columns": [
                {"data": "id"},
                {"data": "name"},
                {"data": "birth"},
                {"data": "tel"},
                {"data": "address"},
                {"data": "townName"},
                {"data": "supporterList"}
            ]
        });

        $("#userTable tbody").on("click", "tr", function () {
            var data = table.row(this).data();
            window.location.href = "/users/" + data.id;
        });
    });
</script>
<div th:replace="~{fragment/header :: fragment-bottom-script}"></div>
</body>
</html>
