<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: fragment-header ('보호자 목록 페이지')}"></head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Sidebar fragment -->
        <div th:replace="~{fragment/sidebar :: fragment-sidebar('sidebar_supporter', '')}"></div>
        <!-- /Sidebar -->
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar(검색창) -->
            <div th:replace="~{fragment/navbar :: fragment-navbar}"></div>
            <!-- /Navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- 마을 Card -->
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2">보호자 목록</h2>
                                        <button class="btn bg-transparent pt-0 pb-0" style="float: right"
                                                th:onclick="|location.href='/'|">
                                            <i class='bx bxs-left-arrow-circle bx-md'></i>
                                        </button>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-responsive table-hover" id="supporterTable">
                                            <thead>
                                            <tr>
                                                <td style="display: none"></td> <!-- 실제 User ID -->
                                                <th>#</th> <!-- 인덱스 -->
                                                <th>이름</th>
                                                <th>전화번호</th>
                                                <th>보호자</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="supporter, i : ${supporterList}">
                                                <td th:text="${supporter.id}" style="display: none"></td>
                                                <td th:text="${i.index + 1}"></td>
                                                <td th:text="${supporter.name}"></td>
                                                <td th:text="${supporter.tel}"></td>
                                                <td th:if="${supporter.user}" th:text="${supporter.user.name}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->
                </div>
                <!-- / Content -->
                <!-- footer -->
                <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
                <!-- / footer -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<script type="text/javascript">
    $(document).ready(function() {
        $("#supporterTable").DataTable({
            "order": [ [1, "asc"] ]
        });
    });
</script>
<div th:replace="~{fragment/header :: fragment-bottom-script}"></div>
</body>
</html>
