<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>보호자 정보 수정</title>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>보호자 정보 수정</h1>
    <hr>
    <form th:action="@{/supporter/{id}(id=${supporter.id})}" method="post" th:object="${supporter}">
        <div class="form-group mb-3">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" placeholder="name"
                   th:field="*{name}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}">아이디 입력 오류</div>
        </div>
        <div class="form-group mb-3">
            <label for="tel">전화번호</label>
            <input type="text" class="form-control" id="tel" placeholder="tel"
                   th:field="*{tel}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{tel}">전화번호 입력 오류</div>
        </div>
        <div class="form-group mb-3">
            <label for="user">보호자</label>
            <input type="text" class="form-control"
                   id="user" placeholder="user" th:field="*{user.name}" readonly>
        </div>
        <hr>
        <input type="hidden" name="_method" value="PUT"/>
        <button class="btn btn-primary" type="button" onclick="location.href='/supporter'">뒤로가기</button>
        <button class="btn btn-primary" type="submit">수정</button>
    </form>

    <form th:action="@{/supporter/{id}(id=${supporter.id})}" method="post" th:object="${supporter}">
        <input type="hidden" name="_method" value="DELETE"/>
        <button class="btn btn-danger" type="submit">삭제</button>
    </form>
</div>

</body>
</html>