<!DOCTYPE html>
<html>
<head>
    <title>관리자 회원가입</title>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1>관리자 회원가입 페이지</h1>

<form action="" method="post">
    <div class="form-group mb-3">
        <input type="text" class="form-control form-control-user"
               id="name" name="name" placeholder="name" value="관리자">
    </div>
    <div class="form-group mb-3">
        <input type="text" class="form-control form-control-user"
               id="tel" name="tel" placeholder="tel" value="010-1234-1234">
    </div>
    <div class="form-group mb-3">
        <input type="text" class="form-control form-control-user"
               id="type" name="type" placeholder="type" value="ADMIN">
    </div>
    <div class="form-group mb-3">
        <input type="text" class="form-control form-control-user"
               id="loginId" name="loginId" placeholder="loginId" value="loginId">
    </div>
    <div class="form-group mb-3">
        <input type="password" class="form-control form-control-user"
               id="loginPw" name="loginPw" placeholder="loginPw" value="loginPw">
    </div>
    <button class="btn btn-primary" type="submit">가입</button>
</form>

</body>
</html>