<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragment/header :: fragment-header ('마을 관리자 메인 페이지')}"></head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar(검색창) -->
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">
                <div class="fw-bold" style="min-width: fit-content">
                    마을 관리자 <span sec:authentication="name"></span> 님
                </div>
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item">
                            <form action="/logout" method="post" id="logoutForm">
                                <button class="btn" type="submit"
                                        style="background-color: #ff7373; color: white; float: right">
                                    <i class='menu-icon bx bx-log-out'></i>
                                    로그아웃
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- / Navbar(검색창) -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row mb-5 h-100">
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card h-100">
                                <a href="/" class="card-body" style="background: #dfc2c4">
                                    <h5 class="card-title">마을 관리</h5>
                                    <p class="card-text">
                                        이쁜 이미지
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card h-100">
                                <a href="/announces" class="card-body" style="background: #86b7fe">
                                    <h5 class="card-title">마을 방송 목록</h5>
                                    <p class="card-text">
                                        이쁜 이미지
                                    </p>
                                </a>
                                <a href="/announces" class="card-body" style="background: #dc3545">
                                    <h5 class="card-title">재난 방송 목록</h5>
                                    <p class="card-text">
                                        이쁜 이미지
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card h-100">
                                <a href="/announces/voice" class="card-body" style="background: #86b7fe">
                                    <h5 class="card-title">음성 방송하기</h5>
                                    <p class="card-text">
                                        이쁜 이미지
                                    </p>
                                </a>
                                <a href="/announces/text" class="card-body" style="background: #dc3545">
                                    <h5 class="card-title">문자 방송하기</h5>
                                    <p class="card-text">
                                        이쁜 이미지
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->
                <!-- footer -->
                <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
                <!-- / footer -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
</div>
<div th:replace="~{fragment/header :: fragment-bottom-script}"></div>
</body>
</html>
