<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{fragment/header :: fragment-header ('마을 관리자 메인 페이지')}"></head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar(검색창) -->
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">
                <div class="fw-bold" style="min-width: fit-content">
                    <span th:text="${#authentication.principal.name} + ' 님'"/>
                </div>
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item">
                            <form action="/logout" method="post" id="logoutForm">
                                <button class="btn" type="submit"
                                        style="background-color: #ff7373; color: white; float: right">
                                    <i class='menu-icon bx bx-log-out'></i>
                                    로그아웃
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- / Navbar(검색창) -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row mt-4 text-center">
                        <div class="col-md-6 col-lg-4 mb-3 d-flex">
                            <div class="card mb-3 w-100" style="background: #e6e6fa; justify-content: center;">
                                <h4 class="card-title fw-bold p-3 m-0" style="background: #ffffff; position: absolute; top: 0; width: 100%">마을 관리</h4>
                                <a href="/">
                                    <div class="card-header">
                                        <img class="card-img-top p-4" src="/resources/img/dashboard.png"
                                             style="object-fit: contain; height:15vw; opacity: 0.8;">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card mb-3" style="height: fit-content">
                                <a href="/announces/voice">
                                    <div class="card-header" style="background: #e6e6fa; height: 15vw">
                                        <img class="card-img-top p-4" src="/resources/img/mic.png"
                                             style="object-fit: contain; height: 12vw; opacity: 0.8;">
                                    </div>
                                    <h4 class="card-title fw-bold p-3 m-0">음성 방송하기</h4>
                                </a>
                            </div>
                            <div class="card mb-3" style="height: fit-content">
                                <a href="/announces/text">
                                    <div class="card-header" style="background: #e6e6fa; height: 15vw">
                                        <img class="card-img-top p-4" src="/resources/img/comment.png"
                                             style="object-fit: contain; height: 12vw;opacity: 0.8;">
                                    </div>
                                    <h4 class="card-title fw-bold p-3 m-0">문자 방송하기</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card mb-3" style="height: fit-content">
                                <a href="/announces?category=normal">
                                    <div class="card-header" style="background: #e6e6fa; height: 15vw">
                                        <img class="card-img-top p-4" src="/resources/img/announcement.png"
                                             style="object-fit: contain; height: 12vw; background: #e6e6fa; opacity: 0.8;">
                                    </div>
                                    <h4 class="card-title fw-bold p-3 m-0">마을 방송 목록</h4>
                                </a>
                            </div>
                            <div class="card mb-3" style="height: fit-content">
                                <a href="/announces?category=disaster">
                                    <div class="card-header" style="background: #e6e6fa; height: 15vw">
                                        <img class="card-img-top p-4" src="/resources/img/disaster.png"
                                             style="object-fit: contain; height: 12vw;  opacity: 0.8;">
                                    </div>
                                    <h4 class="card-title fw-bold p-3 m-0">재난 방송 목록</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->
                <!-- footer -->
                <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
                <!-- / footer -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
</div>
<div th:replace="~{fragment/header :: fragment-bottom-script}"></div>
</body>
</html>
