<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragment/header :: fragment-header ('관제 메인 페이지')}"></div>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Sidebar fragment -->
        <div th:replace="~{fragment/sidebar :: fragment-sidebar('sidebar_town', '')}"></div>
        <!-- /Sidebar -->
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar(검색창) -->
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">

                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#backDropModal">마을 추가
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- / Navbar(검색창) -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- 마을 Card -->
                    <div class="row" th:each="dto, i : ${dtoList}">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2" th:text="${dto.town.name}">마을 이름</h2>
                                        <button class="btn bg-transparent pt-0 pb-0" style="float: right"
                                                th:onclick="|location.href='@{/towns/{id}(id=${dto.town.id})}'|">
                                            <i class='bx bxs-right-arrow-circle bx-md'></i>
                                        </button>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-4">
                                            <div class="col-sm-7 ps-4">
                                                <div class="row row-bordered g-0">
                                                    <!-- Chart -->
                                                    <div class="col-md-7">
                                                        <canvas id="myChart" th:id="|myChart_${i.index}|" width="400"
                                                                height="400"></canvas>
                                                        <script th:inline="javascript">
                                                            var notConnectedCnt = [[${dto.status_notConnected}]];
                                                            var mqttErrorCnt = [[${dto.status_error_mqtt}]];
                                                            var sensorErrorCnt = [[${dto.status_error_sensor}]];
                                                            var alertCnt = [[${dto.alertList.size()}]];
                                                            var announceCnt = [[${dto.announceList.size()}]];
                                                            var chartId = "myChart_" + [[${i.index}]];
                                                            var ctx = document.getElementById(chartId).getContext('2d');
                                                            var myChart = new Chart(ctx, {
                                                                type: 'bar',
                                                                data: {
                                                                    labels: ['단말기 미연결', '통신 장애', '센서 장애', '긴급호출', '방송 송출'],
                                                                    datasets: [{
                                                                        data: [notConnectedCnt, mqttErrorCnt, sensorErrorCnt, alertCnt, announceCnt],
                                                                        backgroundColor: [
                                                                            'rgba(255, 99, 132, 0.3)',
                                                                            'rgba(153, 102, 255, 0.2)',
                                                                            'rgba(54, 162, 235, 0.3)',
                                                                            'rgba(255, 206, 86, 0.3)',
                                                                            'rgba(75, 192, 192, 0.3)'
                                                                        ],
                                                                        borderColor: [
                                                                            'rgba(255, 99, 132, 1)',
                                                                            'rgba(153, 102, 255, 1)',
                                                                            'rgba(54, 162, 235, 1)',
                                                                            'rgba(255, 206, 86, 1)',
                                                                            'rgba(75, 192, 192, 1)',
                                                                        ],
                                                                        borderWidth: 1,
                                                                        minBarLength: 1
                                                                    }]
                                                                },
                                                                options: {
                                                                    plugins: {
                                                                        title: {
                                                                            display: true,
                                                                            text: '마을 현황 차트'
                                                                        },
                                                                        legend: {
                                                                            display: false
                                                                        }
                                                                    },
                                                                    responsive: true,
                                                                    scales: {
                                                                        y: {
                                                                            beginAtZero: true,
                                                                            ticks: {
                                                                                stepSize: 1
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            });
                                                        </script>
                                                    </div>
                                                    <!-- /Chart -->
                                                    <div class="col-md-5 ps-3">
                                                        <h5 class="text-center fw-bold">마을 현황</h5>
                                                        <table class="table table-borderless border border-secondary">
                                                            <tbody>
                                                            <tr>
                                                                <td class="fw-bold">마을 주민</td>
                                                                <td th:text="|${dto.getUserList().size()}명|">-명</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold" style="color: #e83e8c"
                                                                    th:text="|단말기 미연결:${dto.status_notConnected}|">정상:-
                                                                </td>
                                                                <td class="fw-bold" style="color: coral"
                                                                    th:text="|통신 장애:${dto.status_error_mqtt}|">통신 장애:-
                                                                </td>
                                                                <td class="fw-bold" style="color: #dc3545"
                                                                    th:text="|센서 장애:${dto.status_error_sensor}|">센서 장애:-
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">마을 관리자</td>
                                                                <td th:text="|${dto.getAdminList.size()}명|">-명</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">긴급 호출</td>
                                                                <td th:text="|${dto.getAlertList().size()}건|">-건</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold" style="color: #e83e8c"
                                                                    th:text="|사용자:${dto.getAlert_user()}|">사용자:-
                                                                </td>
                                                                <td class="fw-bold" style="color: coral"
                                                                    th:text="|동작:${dto.getAlert_motion()}|">동작:-
                                                                </td>
                                                                <td class="fw-bold" style="color: #dc3545"
                                                                    th:text="|화재:${dto.getAlert_fire()}|">화재:-
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">방송 송출</td>
                                                                <td th:text="|${dto.getAnnounceList.size()}건|">-건</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 pe-4">
                                                <div class="row row-bordered g-0">
                                                    <div class="col-12 mb-4">
                                                        <h5 class="fw-bold">관리자 목록</h5>
                                                        <table class="table table-bordered">
                                                            <thead class="table-secondary">
                                                            <tr>
                                                                <th>관리자</th>
                                                                <th>이름</th>
                                                                <th>연락처</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="admin, i : ${dto.getAdminList()}"
                                                                th:if="${i.index < 3}">
                                                                <td th:text="${admin.type.toString() == 'ADMIN' ? '마을 관리자' : '최고 관리자'} ">이장</td>
                                                                <td th:text="${admin.name}">홍길동</td>
                                                                <td th:text="${admin.tel}">010-1234-1234</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="col-12 mb-4">
                                                        <h5 class="fw-bold">긴급 호출 내역</h5>
                                                        <table class="table table-bordered">
                                                            <thead class="table-secondary">
                                                            <tr>
                                                                <th>사용자</th>
                                                                <th>분류</th>
                                                                <th>시각</th>
                                                                <th>수신 여부</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="alert, i : ${dto.alertList}"
                                                                th:if="${i.index < 3}">
                                                                <td th:text="${alert.user.name}">-</td>
                                                                <td>사용자 호출</td>
                                                                <td th:text="${#temporals.format(alert.alertTime, 'yy/MM/dd HH:mm:ss')}">
                                                                    -
                                                                </td>
                                                                <td>확인</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->
                    <!-- Modal -->
                    <div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1"
                         style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <form class="modal-content" action="/towns" method="post" id="formObj">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="backDropModalTitle">마을 추가</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group mb-3">
                                        <label for="name">마을 이름</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="마을 이름">
                                    </div>
                                    <div class="form-group mb-3">
                                        <div>지역 선택</div>
                                        <select name="regionCode" class="form-select">
                                            <option th:each="region : ${regionList}"
                                                    th:value="${region.regionCode}"
                                                    th:text="${region.toString()}">지역명
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <hr>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기
                                    </button>
                                    <button type="button" class="btn btn-primary" id="townRegisterBtn">저장</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /Modal -->
                </div>
                <!-- / Content -->
                <!-- footer -->
                <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
                <!-- / footer -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#townRegisterBtn").on("click", function () {
            if (confirm("마을을 추가하시갰습니까?")) {
                var name = $("input[name='name']").val();
                var regionCode = $("select[name='regionCode']").val();
                if(name.replace(/\s/gi, "").length == 0) {
                    alert("마을 이름을 입력해주세요");
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/towns",
                    data: {name: name, regionCode: regionCode},
                    dataType: "text",
                    success: function (result) {
                        alert(result);
                        window.location.href = "/";
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                return false;
            }
        });
    });
</script>
<div th:replace="~{fragment/header :: fragment-bottom-script}"></div>
</body>
</html>
