<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>관제 메인 페이지</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/resources/img/favicon/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/resources/vendor/fonts/boxicons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/resources/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/resources/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/resources/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/resources/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>

    <link rel="stylesheet" href="/resources/vendor/libs/apex-charts/apex-charts.css"/>

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/resources/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/resources/js/config.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
            integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- 사이드 메뉴 -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

            <div class="app-brand demo mb-3">
                <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg
                        width="25"
                        viewBox="0 0 25 42"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs>
                    <path
                            d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                            id="path-1"
                    ></path>
                    <path
                            d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                            id="path-3"
                    ></path>
                    <path
                            d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                            id="path-4"
                    ></path>
                    <path
                            d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                            id="path-5"
                    ></path>
                  </defs>
                  <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                      <g id="Icon" transform="translate(27.000000, 15.000000)">
                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                          <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <use fill="#696cff" xlink:href="#path-1"></use>
                          <g id="Path-3" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-3"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                          </g>
                          <g id="Path-4" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-4"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                          </g>
                        </g>
                        <g
                                id="Triangle"
                                transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                        >
                          <use fill="#696cff" xlink:href="#path-5"></use>
                          <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
                    <span class="menu-text fw-bolder fs-4 ms-2">스마트 <br> 마을알림 시스템</span>
                </a>

                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                    <i class="bx bx-chevron-left bx-sm align-middle"></i>
                </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <ul class="menu-inner py-1">
                <!-- 시계 -->
                <li class="menu-item">
                    <a class="menu-link" style="background-color: #333333">
                        <div style="color:white;">2022년 05월 17일<br>AM 12:57:00</div>
                    </a>
                </li>

                <!-- 로그인 정보 -->
                <li class="menu-item mb-3">
                    <a class="menu-link">
                        <div class="fw-bold fs-4">
                            <p>
                                <span sec:authentication="name"></span>님
                                <br>
                                <span>(최고 관리자)</span>
                            </p>
                        </div>
                    </a>
                </li>

                <!-- 홈 -->
                <li class="menu-item active">
                    <a href="/" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-home-circle"></i>
                        <div data-i18n="Analytics">홈</div>
                    </a>
                </li>

                <!-- 마을 관리 -->
                <li class="menu-header small text-uppercase">
                    <span class="menu-header-text">마을 관리</span>
                </li>

                <!-- 마을 현황 -->
                <li class="menu-item">
                    <a href="/towns" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-building-house"></i>
                        <div data-i18n="Basic">마을 현황</div>
                    </a>
                </li>

                <!-- 사용자 메뉴 -->
                <li class="menu-header small text-uppercase">
                    <span class="menu-header-text">사용자 관리</span>
                </li>

                <!-- 사용자 관리 -->
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-dock-top"></i>
                        <div data-i18n="Account Settings">사용자 관리</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="#" class="menu-link">
                                <div data-i18n="Notifications">마을 관리자 관리</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-link">
                                <div data-i18n="Account">마을 주민 관리</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-link">
                                <div data-i18n="Notifications">보호자 관리</div>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- 방송 메뉴 -->
                <li class="menu-header small text-uppercase">
                    <span class="menu-header-text">방송 관리</span>
                </li>

                <!-- 방송 -->
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-broadcast"></i>
                        <div data-i18n="Account Settings">방송하기</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="#" class="menu-link">
                                <div data-i18n="Account">문자 방송</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-link">
                                <div data-i18n="Notifications">음성 방송</div>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- 방송 목록 조회 -->
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-dock-top"></i>
                        <div data-i18n="Basic">방송 목록 조회</div>
                    </a>
                </li>

                <!-- 긴급호출 메뉴 -->
                <li class="menu-header small text-uppercase">
                    <span class="menu-header-text">긴급 호출 관리</span>
                </li>

                <!-- 긴급호출 목록 조회 -->
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="menu-icon tf-icons bx bxs-bell-ring"></i>
                        <div data-i18n="Basic">긴급호출 목록 조회</div>
                    </a>
                </li>

                <!-- 사용자 메뉴 -->
                <li class="menu-header small text-uppercase">
                    <span class="menu-header-text">사용자 메뉴</span>
                </li>

                <!-- 사용자 정보 -->
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="menu-icon tf-icons bx bxs-user-detail"></i>
                        <div data-i18n="Basic">사용자 정보</div>
                    </a>
                </li>

                <!-- 로그아웃 -->
                <li class="menu-item">
                    <form action="/logout" method="post" id="logoutForm">
                        <a href="#" class="menu-link" onclick="document.getElementById('logoutForm').submit();"
                           style="background-color: #ff7373; color: white">
                            <i class='menu-icon bx bx-log-out'></i>
                            <div>로그아웃</div>
                        </a>
                    </form>
                </li>
            </ul>
        </aside>
        <!-- / 사이드 메뉴 -->

        <!-- Layout container -->
        <div class="layout-page">

            <!-- Navbar(검색창) -->
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">

                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <!-- Search -->
                    <div class="input-group w-50">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            마을 이름
                        </button>
                        <ul class="dropdown-menu" style="">
                            <li><a class="dropdown-item" href="javascript:void(0);">마을 이름</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">마을 관리자</a></li>
                        </ul>
                        <input type="text" class="form-control" placeholder="검색...">
                        <button class="btn btn-outline-primary" type="button" id="button-addon2">
                            <i class="bx bx-search fs-4 lh-0"></i>
                        </button>
                    </div>
                    <!-- /Search -->
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#backDropModal">마을 추가
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- / Navbar(검색창) -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- 마을 Card -->
                    <div class="row" th:each="dto, i : ${dtoList}">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2" th:text="${dto.town.name}">마을 이름</h2>
                                        <button class="btn bg-transparent pt-0 pb-0" style="float: right"
                                                th:onclick="|location.href='@{/towns/{id}(id=${dto.town.id})}'|">
                                            <i class='bx bxs-right-arrow-circle bx-md'></i>
                                        </button>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-4">
                                            <div class="col-sm-7 ps-4">
                                                <div class="row row-bordered g-0">
                                                    <!-- Chart -->
                                                    <div class="col-md-7">
                                                        <canvas id="myChart" th:id="|myChart_${i.index}|" width="400"
                                                                height="400"></canvas>
                                                        <script th:inline="javascript">
                                                            var userCnt = [[${dto.userList.size()}]];
                                                            var adminCnt = [[${dto.adminList.size()}]];
                                                            var alertCnt = [[${dto.alertList.size()}]];
                                                            var announceCnt = [[${dto.announceList.size()}]];
                                                            var chartId = "myChart_" + [[${i.index}]];
                                                            var ctx = document.getElementById(chartId).getContext('2d');
                                                            var myChart = new Chart(ctx, {
                                                                type: 'bar',
                                                                data: {
                                                                    labels: ['마을 주민', '마을 관리자', '긴급호출', '방송 송출'],
                                                                    datasets: [{
                                                                        data: [userCnt, adminCnt, alertCnt, announceCnt],
                                                                        backgroundColor: [
                                                                            'rgba(255, 99, 132, 0.3)',
                                                                            'rgba(54, 162, 235, 0.3)',
                                                                            'rgba(255, 206, 86, 0.3)',
                                                                            'rgba(75, 192, 192, 0.3)'
                                                                        ],
                                                                        borderColor: [
                                                                            'rgba(255, 99, 132, 1)',
                                                                            'rgba(54, 162, 235, 1)',
                                                                            'rgba(255, 206, 86, 1)',
                                                                            'rgba(75, 192, 192, 1)',
                                                                        ],
                                                                        borderWidth: 1,
                                                                        minBarLength: 1
                                                                    }]
                                                                },
                                                                options: {
                                                                    plugins: {
                                                                        title: {
                                                                            display: true,
                                                                            text: '마을 현황 차트'
                                                                        },
                                                                        legend: {
                                                                            display: false
                                                                        }
                                                                    },
                                                                    responsive: true,
                                                                    scales: {
                                                                        y: {
                                                                            beginAtZero: true,
                                                                            ticks: {
                                                                                stepSize: 1
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            });
                                                        </script>
                                                    </div>
                                                    <!-- /Chart -->
                                                    <div class="col-md-5 ps-3">
                                                        <h5 class="text-center fw-bold">마을 현황</h5>
                                                        <table class="table table-borderless border border-secondary">
                                                            <tbody>
                                                            <tr>
                                                                <td class="fw-bold">마을 주민</td>
                                                                <td th:text="|${dto.getUserList().size()}명|">-명</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold" style="color: green"
                                                                    th:text="|정상: ${dto.getStatus_ok()}|">정상:-
                                                                </td>
                                                                <td class="fw-bold" style="color: coral"
                                                                    th:text="|정상: ${dto.getStatus_error()}|">장애:-
                                                                </td>
                                                                <td class="fw-bold" style="color: #dc3545"
                                                                    th:text="|정상: ${dto.getStatus_emergency()}|">긴급:-
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">마을 관리자</td>
                                                                <td th:text="|${dto.getAdminList.size()}명|">-명</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">긴급 호출</td>
                                                                <td th:text="|${dto.getAlertList().size()}건|">-건</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold" style="color: #e83e8c"
                                                                    th:text="|사용자:${dto.getAlert_user()}|">사용자:-
                                                                </td>
                                                                <td class="fw-bold" style="color: coral"
                                                                    th:text="|동작:${dto.getAlert_motion()}|">동작:-
                                                                </td>
                                                                <td class="fw-bold" style="color: #dc3545"
                                                                    th:text="|화재:${dto.getAlert_fire()}|">화재:-
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">방송 송출</td>
                                                                <td th:text="|${dto.getAnnounceList.size()}건|">-건</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 pe-4">
                                                <div class="row row-bordered g-0">
                                                    <div class="col-12 mb-4">
                                                        <h5 class="fw-bold">관리자 목록</h5>
                                                        <table class="table table-bordered">
                                                            <thead class="table-secondary">
                                                            <tr>
                                                                <th>관리자</th>
                                                                <th>이름</th>
                                                                <th>연락처</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="admin, i : ${dto.getAdminList()}"
                                                                th:if="${i.index < 3}">
                                                                <td th:text="${admin.type}">이장</td>
                                                                <td th:text="${admin.name}">홍길동</td>
                                                                <td th:text="${admin.tel}">010-1234-1234</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="col-12 mb-4">
                                                        <h5 class="fw-bold">긴급 호출 내역</h5>
                                                        <table class="table table-bordered">
                                                            <thead class="table-secondary">
                                                            <tr>
                                                                <th>사용자</th>
                                                                <th>분류</th>
                                                                <th>시각</th>
                                                                <th>수신 여부</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="alert, i : ${dto.alertList}"
                                                                th:if="${i.index < 3}">
                                                                <td th:text="${alert.user.name}">-</td>
                                                                <td>사용자 호출</td>
                                                                <td th:text="${#temporals.format(alert.alertTime, 'yy/MM/dd HH:mm:ss')}">
                                                                    -
                                                                </td>
                                                                <td>확인</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->

                    <!-- Modal -->
                    <div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1"
                         style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <form class="modal-content" action="/towns" method="post" id="formObj">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="backDropModalTitle">마을 추가</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group mb-3">
                                        <label for="name">마을 이름</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="마을 이름">
                                    </div>
                                    <div class="form-group mb-3">
                                        <div>지역 선택</div>
                                        <select name="regionCode" class="form-select">
                                            <option th:each="region : ${regionList}"
                                                    th:value="${region.regionCode}"
                                                    th:text="${region.toString()}">지역명
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <hr>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기
                                    </button>
                                    <button type="button" class="btn btn-primary" id="townRegisterBtn">저장</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- / Content -->

                <!-- footer -->
                <footer class="footer bg-light">
                    <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
                        <div>
                            <a href="/" class="footer-text fw-bolder">스마트 마을알림 시스템</a>
                        </div>
                        <div>
                            <a class="footer-link me-4" target="_blank">4조</a>
                            <a class="footer-link me-4" target="_blank">아</a>
                            <a class="footer-link me-4" target="_blank">으</a>
                            <a class="footer-link me-4" target="_blank">어</a>
                        </div>
                    </div>
                </footer>
                <!-- / footer -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#townRegisterBtn").on("click", function () {
            if (confirm("마을을 추가하시갰습니까?")) {
                var name = $("input[name='name']").val();
                var regionCode = $("select[name='regionCode']").val();
                if(name.replace(/\s/gi, "").length == 0) {
                    alert("마을 이름을 입력해주세요");
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/towns",
                    data: {name: name, regionCode: regionCode},
                    dataType: "text",
                    success: function (result) {
                        alert(result);
                        window.location.href = "/";
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                return false;
            }
        });
    });
</script>
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/resources/vendor/libs/jquery/jquery.js"></script>
<script src="/resources/vendor/libs/popper/popper.js"></script>
<script src="/resources/vendor/js/bootstrap.js"></script>
<script src="/resources/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/resources/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/resources/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/resources/js/main.js"></script>

<!-- Page JS -->
<script src="/resources/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
