<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragment/header :: fragment-header ('실험실')}"></th:block>
</head>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Sidebar -->
        <aside th:replace="~{fragment/sidebar :: fragment-sidebar('sidebar_lab', '')}"></aside>
        <!-- /Sidebar -->

        <!-- Layout container -->
        <section class="layout-page">

            <!-- Navbar -->
            <nav th:replace="~{fragment/navbar :: fragment-navbar}"></nav>
            <!-- /Navbar -->

            <!-- Content wrapper -->
            <article class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- 마을 Card -->
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <h2 class="d-inline ms-2">실험실</h2>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col" style="display: flex; justify-content: space-evenly; flex-wrap: wrap; gap: 1em">
                                                <button type="button"
                                                        id="resetRegionListBtn"
                                                        class="btn btn btn-danger" style="margin: auto; width: 20vh;">지역 목록 초기화</button>
                                                <button type="button"
                                                        id="createTownBtn"
                                                        class="btn btn btn-success" style="margin: auto; width: 20vh">마을 추가</button>
                                                <button type="button"
                                                        onclick="alert('미완성입니다!');"
                                                        class="btn btn-warning" style="margin: auto; width: 20vh">최고 관리자 추가</button>
                                                <button type="button"
                                                        onclick="alert('미완성입니다!');"
                                                        class="btn btn-warning" style="margin: auto; width: 20vh">마을 관리자 추가</button>
                                                <button type="button"
                                                        onclick="alert('미완성입니다!');"
                                                        class="btn btn-warning" style="margin: auto; width: 20vh">마을 주민 추가</button>
                                                <button type="button"
                                                        onclick="alert('미완성입니다!');"
                                                        class="btn btn-warning" style="margin: auto; width: 20vh">보호자 추가</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->
                </div>
                <!-- / Content -->
            </article>
            <!-- Content wrapper -->

            <!-- footer -->
            <footer>
                <th:block th:insert="~{fragment/footer :: fragment-footer}"></th:block>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#createTownBtn").on("click", function () {
                            if(confirm("마을을 추가하시겠습니까?")) {
                                $.ajax({
                                    type: "POST",
                                    url: "/api/faker/town",
                                    success: function (result) {
                                        alert(result);
                                    },
                                    error: function (xhr) {
                                        alert(xhr.responseText);
                                    }
                                });
                            } else {
                                return false;
                            }
                        });
                        $("#resetRegionListBtn").on("click", function () {
                            if(confirm("지역 목록을 초기화 하시겠습니까? (마을이 존재하면 외래키 제약조건에 의해 초기화가 불가능합니다)")) {
                                $.ajax({
                                    type: "POST",
                                    url: "/api/faker/region",
                                    success: function (result) {
                                        alert(result);
                                    },
                                    error: function (xhr) {
                                        alert(xhr.responseText);
                                    }
                                });
                            } else {
                                return false;
                            }
                        });
                    });
                </script>
            </footer>
            <!-- / footer -->

        </section>
        <!-- / Layout page -->
    </div>
</div>
</body>
</html>
