<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>관리자 회원가입</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/resources/img/favicon/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"/>

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/resources/vendor/fonts/boxicons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/resources/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/resources/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/resources/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/resources/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>

    <!-- Page CSS -->
    <link rel="stylesheet" href="/resources/vendor/css/pages/page-auth.css"/>

    <!-- Helpers -->
    <script src="/resources/vendor/js/helpers.js"></script>
    <script src="/resources/js/config.js"></script>

    <!--AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<body>
<!-- Content -->
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register Card -->
            <div class="card">
                <div class="card-body">
                    <div class="app-brand justify-content-center">
                        <span class="app-brand-text demo text-body fw-bolder">관리자 회원가입</span>
                    </div>

                    <form id="formAuthentication" class="mb-3" action="" method="POST" th:object="${admin}">
                        <div class="mb-3">
                            <label for="name" class="form-label">이름</label>
                            <input type="text" class="form-control" id="name" th:errorclass="field-error"
                                   th:field="*{name}"
                                   placeholder="이름을 입력해주세요" required>
                            <div class="py-1">
                                <p class="mb-0 field-error" th:errors="*{name}">이름 입력 오류</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="loginId" class="form-label">아이디</label>
                            <input type="text" class="form-control" id="loginId" th:errorclass="field-error"
                                   th:field="*{loginId}"
                                   placeholder="아이디를 입력해주세요" required>
                            <div class="py-1">
                                <p class="mb-0 field-error" id="loginIdErrorText" th:errors="*{loginId}">아이디 입력 오류</p>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="loginPw">비밀번호</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="loginPw" class="form-control" th:errorclass="field-error"
                                       th:field="*{loginPw}"
                                       placeholder="············" aria-describedby="password" required>
                                <span class="input-group-text cursor-pointer"
                                      th:unless="${#fields.hasErrors('${admin.loginPw}')}"><i
                                        class="bx bx-hide"></i></span>
                                <span class="input-group-text cursor-pointer field-error"
                                      th:if="${#fields.hasErrors('${admin.loginPw}')}"><i class="bx bx-hide"></i></span>
                            </div>
                            <div class="py-1">
                                <p class="mb-0 field-error" th:errors="*{loginPw}">비밀번호 입력 오류</p>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="chkPw">비밀번호 확인</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="chkPw" class="form-control" name="chkPw"
                                       placeholder="············" aria-describedby="password" required>
                                <span id="chkPwSpan" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="col-md-2 col-form-label">전화번호</label>
                            <input class="form-control" type="tel" id=tel th:errorclass="field-error" th:field="*{tel}"
                                   maxlength="13" placeholder="숫자만 입력해주세요" oninput="autoHyphen(this)" required>
                            <div class="py-1">
                                <p class="mb-0 field-error" id="telErrorText" th:errors="*{tel}">전화번호 입력 오류</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-md-2 col-form-label">권한 선택</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="ADMIN"
                                       checked>
                                <label class="form-check-label" for="inlineRadio1">마을 관리자</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type" id="inlineRadio2"
                                       value="SUPER">
                                <label class="form-check-label" for="inlineRadio2">최고 관리자</label>
                            </div>
                        </div>
                        <button id="registerBtn" type="submit" class="btn btn-primary d-grid w-100">등록</button>
                    </form>
                    <p class="text-center">
                        <span>이미 계정이 있으십니까?</span>
                        <a href="/login">
                            <span>로그인하기</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>
<!-- / Content -->
<script type="text/javascript">
    const autoHyphen = (target) => {
        target.value = target.value
            .replace(/[^0-9]/g, '')
            .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
    }

    $(document).ready(function () {
        $("#loginId").focusout(function (){
            $(this).removeClass('field-error');
            $("#loginIdErrorText").css('display', 'none');
        });
        $("#tel").focusout(function (){
            $(this).removeClass('field-error');
            $("#telErrorText").css('display', 'none');
        });
        $("#chkPw").focus(function (){
           $(this).val('');
        });
        $("#chkPw").focusout(function () {
            validatePassword();
        });

        $("#registerBtn").on("click", function (){
            if(!validatePassword()) return false; // 비밀번호 검증 실패하면 submit X
        });

        function validatePassword() {
            var loginPw = $("#loginPw").val();
            var chkPw = $("#chkPw").val();
            if (loginPw == chkPw) {
                console.log("일치!");
                $("#chkPw").css('border-color', '');
                $("#chkPwSpan").css('border-color', '');
                return true;
            } else {
                console.log("불일치!");
                $("#chkPw").css('border-color', 'red');
                $("#chkPwSpan").css('border-color', 'red');
                return false;
            }
        }
    });
</script>
<script src="/resources/vendor/libs/jquery/jquery.js"></script>
<script src="/resources/vendor/libs/popper/popper.js"></script>
<script src="/resources/vendor/js/bootstrap.js"></script>
<script src="/resources/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/resources/vendor/js/menu.js"></script>
<script src="/resources/js/main.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>