<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>신규 회원가입</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" rel="stylesheet">
    <link href="/resources/css/swiper.css" rel="stylesheet">
	<link href="/resources/css/styles.css" rel="stylesheet">

	<!-- Favicon  -->
    <link rel="icon" href="/resources/img/favicon.png">
</head>
<body style="background-color: #f5f5f9;">
<div id="services" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-icon blue">
                        <span class="far fa-file-alt"></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">관리자로 가입</h5>
                        <p>관리자 권한으로 가입을 진행합니다.</p>
                        <button class="btn btn-solid-sm">회원 가입</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-icon yellow">
                        <span class="far fa-file-alt"></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">마을주민으로 가입</h5>
                        <p>마을주민 권한으로 가입을 진행합니다.</p>
                        <button class="btn btn-solid-sm">회원 가입</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-icon red">
                        <span class="far fa-file-alt"></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">보호자로 가입</h5>
                        <p>보호자 권한으로 가입을 진행합니다.</p>
                        <button class="btn btn-solid-sm">회원 가입</button>
                    </div>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->

<!-- Scripts -->
<script src="/resources/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/resources/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/resources/js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
<script src="/resources/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->

</body>
</html>