<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragment/header :: fragment-header ('마을 주민 메인 페이지')}"></head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar(검색창) -->
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">
                <div class="fw-bold" style="min-width: fit-content">
                    주민 <span sec:authentication="name"></span> 님
                </div>
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item">
                            <form action="/logout" method="post" id="logoutForm">
                                <button class="btn" type="submit"
                                        style="background-color: #ff7373; color: white; float: right">
                                    <i class='menu-icon bx bx-log-out'></i>
                                    로그아웃
                                </button>
                                <input type="hidden" name="loginAuth" value="user">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- / Navbar(검색창) -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row mb-5 h-100">
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card" style="height:fit-content">
                                <a href="u/announces/normal">
                                    <img class="card-img-top p-1" src="/resources/img/announcement.png" style="object-fit: contain; height: 30vw; background: #d3ffce;">
                                    <h4 class="card-title fw-bold p-3 m-0">마을 방송 목록</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card" style="height:fit-content">
                                <a href="u/announces/emergency">
                                    <img class="card-img-top p-1" src="/resources/img/disaster.png" style="object-fit: contain; height: 30vw; background: #e6e6fa;">
                                    <h4 class="card-title fw-bold p-3 m-0">재난 방송 목록</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card" style="height:fit-content">
                                <a href="#" onclick="makeAlert()">
                                    <img class="card-img-top p-1" src="/resources/img/alert.png" style="object-fit: contain; height: 30vw; background: #ffe4e1;">
                                    <h4 class="card-title fw-bold p-3 m-0">긴급 알림</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->
                <!-- footer -->
                <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
                <!-- / footer -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
</div>
<script type="text/javascript">
    function makeAlert() {
        if(confirm("정말 긴급호출 하시겠습니까??")) {
            $.ajax({
                type:"POST",
                url:"/u",
                dataType:"text",
                success: function(result){
                    console.log(result);
                    alert(result);
                },
                error: function(xhr) {
                    alert("긴급호출에 실패했습니다");
                }
            });
        } else {
            return false;
        }
    }
</script>
<div th:replace="~{fragment/header :: fragment-bottom-script}"></div>
</body>
</html>
