<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: fragment-header ('마을 주민 메인 페이지')}"></head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- 마을 Card -->
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="card-header">
                                        <form action="/logout" method="post" id="logoutForm">
                                            <h2 class="d-inline ms-2">마을 주민 메인 페이지</h2>
                                            <button class="btn" type="submit" style="background-color: #ff7373; color: white; float: right">
                                                <i class='menu-icon bx bx-log-out'></i>
                                                로그아웃
                                            </button>
                                            <hr>
                                            <input type="hidden" name="loginAuth" value="user">
                                        </form>
                                    </div>
                                    <div class="card-body ms-2">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /마을 Card-->
                </div>
                <!-- / Content -->
                <!-- footer -->
                <div th:replace="~{fragment/footer.html :: fragment-footer}"></div>
                <!-- / footer -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
</div>
<!-- / Layout wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#userTable").dataTable();
        $("#adminTable").dataTable();
    });
</script>
<div th:replace="~{fragment/header :: fragment-bottom-script}"></div>
</body>
</html>
